{% extends "lavaFlow/base.html" %}
{% block content %}
{% if object.status.name != "JOB_STAT_DONE" %}
<div class="alert alert-danger"><b>Warning:</b> This task exited with state: {{ object.status.name }}: {{ object.status.description }}</div>
{% endif %}
{% if object.wall_time <= 1 %}
<div class="alert alert-warning"><b>Warning:</b> This task ran for less than one second.</div>
{% endif %}
{% if object.pend_time > object.cluster_avg_pend_time %}
<div class="alert alert-warning"><b>Warning:</b> Pend time of {{ object.pend_time_datetime }} is significantly higher than the average pend time for tasks of this size on cluster: {{ object.cluster.name }}.  The average pend time for tasks using {{ object.num_processors }} on cluster: {{ object.cluster.name }} is: {{ object.cluster_avg_pend_time_timedelta }}.</div>
{% endif %}

{% if object.pend_time > object.queue_avg_pend_time %}
<div class="alert alert-warning"><b>Warning:</b> Pend time of {{ object.pend_time_datetime }} is significantly higher than the average pend time for tasks of this size on queue: {{ object.queue.name }}.  The average pend time for tasks using {{ object.num_processors }} in queue: {{ object.queue.name }} is: {{ object.queue_avg_pend_time_timedelta }}.</div>
{% endif %}

{% if object.pend_time > object.project_avg_pend_time %}
<div class="alert alert-warning"><b>Warning:</b> Pend time of {{ object.pend_time_datetime }} is significantly higher than the average pend time for tasks of this size submitted to the same projects.  The average pend time for tasks using {{ object.num_processors }} in the same projects is: {{ object.project_avg_pend_time_timedelta }}.</div>
{% endif %}


<h1>Attempt Information</h1>
<dl class="dl-horizontal">
	<dt>Task Id</dt>
		<dd>{{ object.task.task_id }}</dd>
	<dt>Job Id</dt>
		<dd>{{ object.job.job_id }}</dd>
	<dt>Cluster</dt>
		<dd>{{ object.cluster }}</dd>
	<dt>User</dt>
		<dd>{{ object.user }}</dd>
	<dt>Num Processors</dt>
		<dd>{{ object.num_processors }}</dd>
	<dt>Projects</dt>
	<dd>{% for project in object.projects.all %}{{ project }}<br>{% endfor %}</dd>
	<dt>Start Time</dt>
		<dd>{{ object.start_time_datetime }}</dd>
	<dt>End Time</dt>
		<dd>{{ object.end_time_datetime }}</dd>
	<dt>Pend Time</dt>
		<dd>{{ object.pend_time_timedelta }}</dd>
	<dt>Cpu Time</dt>
		<dd>{{ object.cpu_time_timedelta }}</dd>
	<dt>Wall Time</dt>
		<dd>{{ object.wall_time_timedelta }}</dd>
	<dt>Queue</dt>
		<dd>{{ object.queue }}</dd>
	<dt>Exit Status</dt>
		<dd>{{ object.status.name }}</dd>
	<dt>Command</dt>
		<dd>{{ object.command }}</dd>
</dl>
<h1>Submission Information</h1>
{% include "lavaFlow/widgets/job_submit_info.html" with job=object.job %}
<h1>Job Finish Information</h1>
{% if object.openlavaexitinfo %}
<dl class="dl-horizontal">
	<dt>User Id</dt><dd>{{ object.openlavaexitinfo.user_id }}</dd>
	<dt>User</dt>
		<dd>{{ object.openlavaexitinfo.user }}</dd>
	<dt>Options</dt>
	<dd>{% for opt in object.openlavaexitinfo.options.all %}{{ opt.name }}<br>{% endfor %}</dd>
	<dt>Begin Time</dt>
		<dd>{{ object.openlavaexitinfo.begin_time_datetime }}</dd>
	<dt>Termination Time</dt>
		<dd>{{ object.openlavaexitinfo.term_time_datetime }}</dd>
	<dt>Resource Request</dt>
		<dd>{{ object.openlavaexitinfo.resource_request }}</dd>
	<dt>Current Working Directory</dt>
		<dd>{{ object.openlavaexitinfo.cwd }}</dd>
	<dt>Input File</dt>
		<dd>{{ object.openlavaexitinfo.input_file }}</dd>
	<dt>Output File</dt>
		<dd>{{ object.openlavaexitinfo.output_file }}</dd>
	<dt>Error File</dt>
		<dd>{{ object.openlavaexitinfo.error_file }}</dd>
	<dt>Input File Spool</dt>
		<dd>{{ object.openlavaexitinfo.input_file_spool }}</dd>
	<dt>Command Spool</dt>
		<dd>{{ object.openlavaexitinfo.command_spool }}</dd>
	<dt>Spool Directory</dt>
		<dd>{{ object.openlavaexitinfo.job_spool_dir }}</dd>
	<dt>Job File</dt>
		<dd>{{ object.openlavaexitinfo.job_file }}</dd>
	<dt>Requested Hosts</dt>
	<dd>{% for host in object.openlavaexitinfo.asked_hosts.all %}{{ host }}<br>{% endfor %}</dd>
	<dt>Host Factor</dt>
		<dd>{{ object.openlavaexitinfo.host_factor }}</dd>
	<dt>Job Name</dt>
		<dd>{{ object.openlavaexitinfo.job_name }}</dd>
	<dt>Dependency Condition</dt>
		<dd>{{ object.openlavaexitinfo.dependency_condition }}</dd>
	<dt>Pre Execution Command</dt>
		<dd>{{ object.openlavaexitinfo.pre_execution_cmd }}</dd>
	<dt>Email User</dt>
		<dd>{{ object.openlavaexitinfo.email_user }}</dd>
	<dt>Project</dt>
		<dd>{{ object.openlavaexitinfo.project }}</dd>
	<dt>Exit Code</dt>
		<dd>{{ object.openlavaexitinfo.exit_status }}</dd>
	<dt>Max Num Processors</dt>
		<dd>{{ object.openlavaexitinfo.max_num_processes }}</dd>
	<dt>Login Shell</dt>
		<dd>{{ object.openlavaexitinfo.login_shell }}</dd>
	<dt>Max Mem</dt>
		<dd>{{ object.openlavaexitinfo.max_residual_mem }}</dd>
	<dt>Max Swap</dt>
		<dd>{{ object.openlavaexitinfo.max_swap }}</dd>
</dl>
{% else %}
<div class="alert alert-warning">Extended job finish information has not been imported for this job.</div>
{% endif %}

<h1>Host Usage</h1>
{% if object.execution_hosts.all.count > 0 %}
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Host Name</th>
			<th>Num Cores</th>
		</tr>
	</thead>
	<tbody>
		{% for row in object.get_execution_host_count %}
		<tr>
			<td>{{ row.name }}</td><td>{{ row.name__count }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-warning">No execution host information available for this task.</div>
{% endif %}

<h1>Contending Jobs</h1>
{% if object.get_contending_jobs %}
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Job ID</th>
			<th>Task ID</th>
			<th>User</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Pend Time</th>
			<th>Wall Time</th>
			<th>CPU Time</th>
			<th>Hosts Spanned</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	{% for attempt in object.get_contending_jobs %}
	<tr>
		<td><a href="{{ attempt.job.get_absolute_url }}">{{ attempt.job.job_id }}</a></td>
		<td><a href="{{ attempt.task.get_absolute_url }}">{{ attempt.task.task_id }}</a></td>
		<td>{{ attempt.user }}</td>
		<td>{{ attempt.start_time_datetime }}</td>
		<td>{{ attempt.end_time_datetime }}</td>
		<td>{{ attempt.pend_time_timedelta }}</td>
		<td>{{ attempt.wall_time_timedelta }}</td>
		<td>{{ attempt.cpu_time_timedelta }}</td>
		<td>{% for host in attempt.execution_hosts %}{{ host }}<br >{% endfor %}</td>
		<td>{{ attempt.status }}</td>
	</tr>
	{% empty %}
	<td colspan="10">No contending Jobs</td>
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-success">No hosts used for this task were shared with other tasks</div>
{% endif %}


<h2>Resource Usage</h2>
{% if object.wall_time > 0 %}
<div id='resourceChart'>
		<svg style='height:500px'> </svg>
	</div>
	<script>
		nv.addGraph(function() {
			var chartData=[
			{"values": [
				{"value": {{ object.openlavaexitinfo.resource_usage.user_time }}, "label": "User Time"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.system_time }}, "label": "System Time"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.max_rss }}, "label": "Max RSS"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.integral_shared_memory }}, "label": "Int Sh Mem"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.integral_shared_text }}, "label": "Int Sh Text"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.integral_unshared_data }}, "label": "Int Unsh Data"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.integral_unshared_stack }}, "label": "Int Unsh Stack"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.page_reclaims }}, "label": "Page Reclaims"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.page_faults }}, "label": "Page Faults"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.swaps }}, "label": "Swaps"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.input_block_ops }}, "label": "Block Input Ops"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.output_block_ops }}, "label": "Block Output Ops"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.charecter_io_ops }}, "label": "Chars Ops"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.messages_sent }}, "label": "Messages Sent"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.messages_received }}, "label": "Messages Rec"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.num_signals }}, "label": "Signals Rec"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.voluntary_context_switches }}, "label": "Vol Ctx Sw"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.involuntary_context_switches }}, "label": "Invol Ctx Sw"}, 
				{"value": {{ object.openlavaexitinfo.resource_usage.exact_user_time }}, "label": "Exact User Time"}
				], 
				"key": "Recorded Resource Usage"}];
			var chart = nv.models.discreteBarChart()
				.x(function(d) { return d.label })
				.y(function(d) { return d.value })
				.staggerLabels(true)
				.tooltips(false)
				.showValues(true);
		
			d3.select('#resourceChart svg')
	 			.datum(chartData)
		    	.transition().duration(500)
    			.call(chart);

			nv.utils.windowResize(chart.update);
			return chart;
		});
	</script>



<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>User Time</th>
			<th>System Time</th>
			<th>Max RSS</th>
			<th>Integral Shared Mem</th>
			<th>Integral Shared Text</th>
			<th>Integral Unshared Data</th>
			<th>Integral Unshared Stack</th>
			<th>Page Reclaims</th>
			<th>Page Faults</th>
			<th>Swaps</th>
			<th>Block Input Ops</th>
			<th>Block Output Ops</th>
			<th>Charecter IO</th>
			<th>Messages Sent</th>
			<th>Messages Recd</th>
			<th>Signals Recd</th>
			<th>Voluntary Context Switches</th>
			<th>Involuntary Context Switches</th>
			<th>Exact User Time</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ object.openlavaexitinfo.resource_usage.user_time }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.system_time }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.max_rss }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.integral_shared_memory }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.integral_shared_text }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.integral_unshared_data }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.integral_unshared_stack }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.page_reclaims }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.page_faults }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.swaps }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.input_block_ops }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.output_block_ops }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.charecter_io_ops }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.messages_sent }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.messages_received }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.num_signals }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.voluntary_context_switches }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.involuntary_context_switches }}</td>
			<td>{{ object.openlavaexitinfo.resource_usage.exact_user_time }}</td>
		</tr>
	</tbody>
</table>
{% else %}
<div class="alert alert-warning">No resource usage information could be gathered for this job.</div>
{% endif %}


{% endblock %}
{% block title %}Task: {{ object.task.task_id }}, Attempt: {{ object.get_attempt_id }} of Job: {{ object.job.job_id }}{% endblock %}
