{% extends "lavaFlow/base.html" %}
{% block main_body %}
		<h2>All Clusters</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Cluster Name</th>
					<th>Total Jobs</th>
					<th>Total Tasks</th>
					<th>Total Runs</th>
					<th>Last Job Submitted</th>
					<th>Last Task Executed</th>
					<th>Last Failed Task</th>
					<th>Avg Pend Time</th>
					<th>Pend as % Wall</th>
				</tr>
			</thead>
			<tbody>
				{% for c in clusters.object_list %}
				<tr>
					<td><a href='{{c.get_absolute_url}}'>{{ c.name }}</a></td>
					<td>{{ c.totalJobs }} </td>
					<td>{{ c.totalTasks }}</td>
					<td>{{ c.totalRuns }}</td>
					<td><a href='{{c.last_job_submitted.get_absolute_url}}'>{{ c.last_job_submitted.submit_time_datetime }}</a></td>
					<td><a href='{{ c.last_task_executed.get_absolute_url}}'>{{ c.last_task_executed.end_time_datetime }}</a></td>
					<td><a href='{{ c.last_failed_task.get_absolute_url }}'>{{ c.last_failed_task.end_time_datetime }}</a></td>
					<td>{{ c.avg_pend_timedelta }}</td>
					<td>{{ c.avg_pend_pct }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
<div class="pagination">
	<span class="step-links">
		{% if clusters.has_previous %}
		<a href="?page={{clusters.previous_page_number}}">Previous</a>
		{% endif %}
		<span class="current">
			Page {{ clusters.number }} of {{ clusters.paginator.num_pages }}.
		</span>
		{% if clusters.has_next %}
		<a href="?page={{clusters.next_page_number}}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}
