{% extends "lavaFlow/base.html" %}
{% block main_body %}
		<div id="rangeSelector">
			<div id="slider"></div>
			<p id="rangeText">Loading report range....</p>
		</div>
		<script>
			 var selectedMin={{ startTime }};
			 var selectedMax={{ endTime }};
			 $.getJSON("{% url lavaFlow.views.getReportRange %}", function(data) {
				 var endTime=selectedMax;
				 var startTime=selectedMin;
				 if ( selectedMin < 0 || selectedMax < 0 ){
	 
					 selectedMax=data.endTime;
					 selectedMin=data.endTime-60*60*24*7;
					 if (selectedMin<data.startDate ){
						 selectedMin=data.startTime;
					 }
				 }

				 var startDate=new Date(selectedMin * 1000);
				 var endDate=new Date(selectedMax * 1000);
				 $("#rangeText").text('Report start: ' + startDate + ', report end: ' + endDate );

				 $( "#slider" ).slider({
					 range: true,
					 max: data.endTime,
					 min: data.startTime,
					 values: [selectedMin, selectedMax],
					 slide: function( event, ui ){
						 var startDate=new Date(ui.values[0]*1000);
						 var endDate=new Date(ui.values[1]*1000);
						 $("#rangeText").text('Report start: ' + startDate + ', report end: ' + endDate );
					 },
					 change: function(event, ui){
						 selectedMin=ui.values[0];
						 selectedMax=ui.values[1];
						 updateReport();
				 	 },
				 });
				 updateReport();
			 });
		var filters={{filters|safe}};

		function addFilter(action,filterName,friendlyName,friendlyValue, value){
			if (!filters.hasOwnProperty(action) ){
				console.log(action + " is not a valid action");
				return;
			}
			var acts=filters[action];
			if ( !acts.hasOwnProperty(filterName) ){
				acts[filterName]={
					"friendlyName":friendlyName,
					"filterName":filterName,
					"values":[]
				};
			}
			acts[filterName].values.push({"friendlyValue":friendlyValue,"value":value});
			updatePopover();
		}
		function removeFilter(action,filterName,index){
			if (!filters.hasOwnProperty(action) ){
				console.log(action + " is not a valid action");
				return;
			}
			var acts=filters[action];
			if ( !acts.hasOwnProperty(filterName) ){
				return;
			}
			var v=acts[filterName].values;
			v.splice(index,1);
			if ( v.length < 1 ){
				delete acts[filterName];
			}
			updatePopover();
		}
		function updatePopover(){
			$('#filterDetails').data('popover').setContent(buildPopoverText());
			$('#filterDetails').data('popover').$tip.addClass($('#filterDetails').data('popover').options.placement);
		}
		function findIndexByVal(filter,filterName,filterValue){
			tree=filters[filter];
			if (!tree.hasOwnProperty(filterName)){
				return null;
			}
			for (var idx in tree[filterName].values){
				if (tree[filterName].values[idx].value==filterValue){
					return idx;
				}
			}
			return null;
		}

		function removeAllFilters(filterName,filterValue){
			var idx;
			while(idx=findIndexByVal('exclude',filterName,filterValue)){
				removeFilter('exclude',filterName,idx);
			}
			while(idx=findIndexByVal('filter',filterName,filterValue)){
				removeFilter('filter',filterName,idx);
			}
			updatePopover();
		}
		function getFilterString(action, filter){
			var s="";
			for (var filterName in filter){
				for (var idx in filter[filterName].values){
					if (s.length>0){
						s+="/"
					}
					s+=action+"/"+filterName+"/"+filter[filterName].values[idx].value;
				}
			}
			return encodeURI(s);
		}	
		function buildFilterString(){
			var f=getFilterString("filter",filters.filter);
			var x=getFilterString("exclude",filters.exclude);
			if (f.length>0 && x.length>0){
				return f+"/"+x;
			}else{
				return f+x;
			}

		}
		function buildFilterHtml(action, filter){
			var h=""
			var actionName;
			var i=0;
			if (action=="exclude"){
				actionName="not";
			}
			else{
				actionName="is";
			}
			for (var filterName in filter){
				h+="<li>";
				h+=filterName + " " + actionName + " ";
				for (var idx in filter[filterName].values){
					if (i>0){
						h+= "or ";
					}
					i++;
					h+=filter[filterName].values[idx].friendlyValue;

					var o="onclick='";
					o+='removeFilter("'+action+'","'+filterName+'",'+idx+");'";

					h+=	"<a href='#' "+o+"><l class='icon-remove'></l></a> ";
				}
				h+="</li>";
			}
			return h;
		}
		
		</script>
		<div id="reportData"></div>
		<h2>Cluster Overview</h2>
		<div id="clusterOverview"></div>
		<h2>Utilization Graph</h2>
		<div id='utilizationChart'>
			<svg style='height:500px'> </svg>
		</div>
		<script>
			var utilChart;
			nv.addGraph(function() {
				utilChart = nv.models.stackedAreaChart();
				utilChart.clipEdge(true);
				utilChart.xAxis.tickFormat(function(d) { return d3.time.format('%x %X')(new Date(d*1000)) });
				utilChart.xAxis.rotateLabels(-45);
				utilChart.margin({bottom: 120, left:100});
				utilChart.xAxis.axisLabel('Date');

				d3.select('#utilizationChart svg')
				.datum([])
				.transition().duration(500)
				.call(utilChart);

				nv.utils.windowResize(utilChart.update);
				return utilChart;
			});
		</script>
		<h2>Utilization by Queue</h2>
		<div id='utilizationQueueChart'>
			<svg style='height:500px'> </svg>
		</div>
		<div id="utilizationQueueTable"></div>
		<script>
			var utilQueueChart;
			nv.addGraph(function() {
				utilQueueChart = nv.models.stackedAreaChart();
				utilQueueChart.clipEdge(true);
				utilQueueChart.xAxis.tickFormat(function(d) { return d3.time.format('%x %X')(new Date(d*1000)) });
				utilQueueChart.xAxis.rotateLabels(-45);
				utilQueueChart.margin({bottom: 120, left:100});
				utilQueueChart.xAxis.axisLabel('Date');

				d3.select('#utilizationQueueChart svg')
				.datum([])
				.transition().duration(500)
				.call(utilQueueChart);

				nv.utils.windowResize(utilQueueChart.update);
				return utilQueueChart;
			});
		</script>
		<h2>Utilization by Project</h2>
		<div id='utilizationProjectChart'>
			<svg style='height:500px'> </svg>
		</div>
		<div id="utilizationProjectTable"></div>
		<script>
			var utilProjChart;
			nv.addGraph(function() {
				utilProjChart = nv.models.stackedAreaChart();
				utilProjChart.clipEdge(true);
				utilProjChart.xAxis.tickFormat(function(d) { return d3.time.format('%x %X')(new Date(d*1000)) });
				utilProjChart.xAxis.rotateLabels(-45);
				utilProjChart.margin({bottom: 120, left:100});
				utilProjChart.xAxis.axisLabel('Date');

				d3.select('#utilizationQueueChart svg')
				.datum([])
				.transition().duration(500)
				.call(utilProjChart);

				nv.utils.windowResize(utilProjChart.update);
				return utilProjChart;
			});
		</script>
		<h2>Utilization by User</h2>
		<div id='utilizationUserChart'>
			<svg style='height:500px'> </svg>
		</div>
		<div id="utilizationUserTable"></div>
		<script>
			var utilUserChart;
			nv.addGraph(function() {
				utilUserChart = nv.models.stackedAreaChart();
				utilUserChart.clipEdge(true);
				utilUserChart.xAxis.tickFormat(function(d) { return d3.time.format('%x %X')(new Date(d*1000)) });
				utilUserChart.xAxis.rotateLabels(-45);
				utilUserChart.margin({bottom: 120, left:100});
				utilUserChart.xAxis.axisLabel('Date');

				d3.select('#utilizationUserChart svg')
				.datum([])
				.transition().duration(500)
				.call(utilChart);

				nv.utils.windowResize(utilUserChart.update);
				return utilUserChart;
			});
		</script>
		<h2>Exit Status</h2>

		<div id='jobExitChart'>
			<svg style='height:500px'> </svg>
		</div>

		<script>
			var exitChart;
			nv.addGraph(function() {
				exitChart = nv.models.multiBarChart();
				exitChart.xAxis.axisLabel('Exit State');
				exitChart.margin({bottom:120,left:100});
				d3.select('#jobExitChart svg')
				.datum([])
				.transition().duration(500)
				.call(exitChart);
				nv.utils.windowResize(exitChart.update);
				return exitChart;
			});
		</script>

		<div id="jobExitTable"></div>

		<h2>Job Sizes</h2>
		<div id='jobSizeChart'>
			<svg style='height:500px'> </svg>
		</div>

		<script>
			var sizeChart;
			nv.addGraph(function() {
				sizeChart = nv.models.multiBarChart();
				sizeChart.xAxis.axisLabel('Number of Processors');
				sizeChart.margin({bottom:120,left:100});
				d3.select('#jobSizeChart svg')
				.datum([])
				.transition().duration(500)
				.call(exitChart);
				nv.utils.windowResize(sizeChart.update);
				return sizeChart;
			});
		</script>
		<div id="jobSizeTable"></div>

		<h2>Busiest Users by CPU Time</h2>
		<div id="heavyUsers"></div>

		<h2>Most Patient users by Pend Time</h2>
		<div id="patientUsers"></div>

		<h2>Best Hosts</h2>
		<p>The best hosts are the hosts that have accumulated the most successful jobs through this period.</p>
		<div id="bestHosts"></div>

		<h2>Worst Hosts</h2>
		<p>The following hosts have the highest number of jobs that failed to finish.  This happens when the job does not exit with exit code zero.  This includes situations where the job did not complete because the user killed the job.  Typically the figures for CPU time should be be fairly similar accross all nodes on the same cluster, a peak in value here may indicate a host that is malfunctioning.</p>
		<div id="worstHosts"></div>

		<h2>Busiest Submit Hosts</h2>
		<p>The following hosts submitted the most jobs</p>
		<div id="busySubmits"></div>

		<h2>Jobs</h2>
		<div id="jobList"></div>
		<script>
			function getJobListPage(page){
				var filterString=buildFilterString();
				if (filterString.length>0){
					filterString+="/";
				}
				 $.get("{% url lavaFlow.views.homeView %}modules/jobList/"+selectedMin+"/"+selectedMax+"/"+filterString+"?page="+page, function(data) {
					 $('#jobList').html(data);
				 });
			}
		</script>

		<script>
			 function updateReport(){
				var filterString=buildFilterString();
				if (filterString.length>0){
					filterString+="/";
				}
				 $("#reportData").text('Updating Report...');
				 $.get("{% url lavaFlow.views.homeView %}modules/groupedUtilizationTable/"+selectedMin+"/"+selectedMax+"/group/element__job__cluster__name/group/"+filterString, function(data) {
					 $('#clusterOverview').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/groupedUtilizationTable/"+selectedMin+"/"+selectedMax+"/group/queue__name/group/"+filterString, function(data) {
					 $('#utilizationQueueTable').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/groupedUtilizationTable/"+selectedMin+"/"+selectedMax+"/group/element__job__user__userName/group/"+filterString, function(data) {
					 $('#utilizationUserTable').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/groupedUtilizationTable/"+selectedMin+"/"+selectedMax+"/group/projects__name/group/"+filterString, function(data) {
					 $('#utilizationProjectTable').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/busyUsers/"+selectedMin+"/"+selectedMax+"/-sumCpu/"+filterString, function(data) {
					 $('#heavyUsers').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/busyUsers/"+selectedMin+"/"+selectedMax+"/-sumPend/"+filterString, function(data) {
					 $('#patientUsers').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/bestHosts/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
					 $('#bestHosts').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/worstHosts/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
					 $('#worstHosts').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/busySubmit/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
					 $('#busySubmits').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/jobSizeTable/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
					 $('#jobSizeTable').html(data);
				 });

				 $.get("{% url lavaFlow.views.homeView %}modules/jobExitTable/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
					 $('#jobExitTable').html(data);
				 });
				 $.get("{% url lavaFlow.views.homeView %}modules/jobList/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
					 $('#jobList').html(data);
				 });
				 $.getJSON("{% url lavaFlow.views.homeView %}modules/jobExitChart/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
							d3.select('#jobExitChart svg')
							.datum(data)
							.transition().duration(500)
							.call(exitChart);
				});
				 $.getJSON("{% url lavaFlow.views.homeView %}modules/utilization/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
							d3.select('#utilizationChart svg')
							.datum(data)
							.transition().duration(500)
							.call(utilChart);
				});
				 $.getJSON("{% url lavaFlow.views.homeView %}modules/groupedUtilization/"+selectedMin+"/"+selectedMax+"/group/queue__name/group/"+filterString, function(data) {
							d3.select('#utilizationQueueChart svg')
							.datum(data)
							.transition().duration(500)
							.call(utilUserChart);
				});
				 $.getJSON("{% url lavaFlow.views.homeView %}modules/groupedUtilization/"+selectedMin+"/"+selectedMax+"/group/element__job__user__userName/group/"+filterString, function(data) {
							d3.select('#utilizationUserChart svg')
							.datum(data)
							.transition().duration(500)
							.call(utilUserChart);
				});
				 $.getJSON("{% url lavaFlow.views.homeView %}modules/groupedUtilization/"+selectedMin+"/"+selectedMax+"/group/projects__name/group/"+filterString, function(data) {
							d3.select('#utilizationProjectChart svg')
							.datum(data)
							.transition().duration(500)
							.call(utilUserChart);
				});
				 $.getJSON("{% url lavaFlow.views.homeView %}modules/jobSizeChart/"+selectedMin+"/"+selectedMax+"/"+filterString, function(data) {
							d3.select('#jobSizeChart svg')
							.datum(data)
							.transition().duration(500)
							.call(sizeChart);
				});
				 $("#reportData").text('');

			 }

		</script>
{% endblock %}
