{% extends "lavaFlow/base.html" %}
{% block main_body %}
		<h2>All Hosts</h2>
		<table class="tablesorter">
			<thead>
				<tr>
					<th>Host Name</th>
					<th>Submitted Jobs</th>
					<th>Executed Tasks</th>
					<th>First Task Executed</th>
					<th>Last Task Exited</th>
					<th>Completed Tasks</th>
					<th>Failed Tasks</th>
					<th>Failure Rate</th>
				</tr>
			</thead>
			<tbody>
				{% for h in hosts.object_list %}
				<tr>
					<td><a href='{{h.get_absolute_url}}'>{{ h.host_name }}</a></td>
					<td>{{ h.submittedJobs }}</td>
					<td>{{ h.executed_tasks }}</td>
					<td>{{ h.first_run.start_time_datetime }}</td>
					<td>{{ h.last_run.end_time_datetime }}</td>
					<td>{{ h.completed_tasks }}</td>
					<td>{{ h.failed_tasks }}</td>
					<td>{{ h.failure_rate }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
<div class="pagination">
	<span class="step-links">
		{% if hosts.has_previous %}
		<a href="?page={{hosts.previous_page_number}}">Previous</a>
		{% endif %}
		<span class="current">
			Page {{ hosts.number }} of {{ hosts.paginator.num_pages }}.
		</span>
		{% if hosts.has_next %}
		<a href="?page={{hosts.next_page_number}}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}
