{% extends "lavaFlow/base.html" %}
{% block content %}

<h1>Job Information</h1>
<dl class="dl-horizontal">
	<dt>Job Id</dt>
		<dd>{{ object.job_id }}</dd>
	<dt>Cluster</dt>
	<dd><a href='{{ object.cluster.get_absolute_url }}'>{{ object.cluster }}</a></dd>
	<dt>User</dt>
	<dd><a href='{{ object.user.get_absolute_url }}'>{{ object.user }}</a></dd>
	<dt>Submit Host</td>
		<dd>{{ object.submit_host }}</dd>
	<dt>Submit Time</td>
		<dd>{{ object.submit_time_datetime }}</dd>
	<dt>First Task Started</dt>
		<dd><a href="{{ object.first_task.get_absolute_url }}">{{ object.first_task.start_time_datetime }}</a></dd>
	<dt>Last Task Finished</dt>
		<dd><a href="{{ object.last_task.get_absolute_url }}">{{ object.last_task.end_time_datetime }}</a></dd>
	<dt>Total Pend Time</dt>
		<dd>{{ object.total_pend_time_timedelta}}</dd>
	<dt>Pend Time for First Task</dt>
		<dd><a href="{{ object.first_task.get_absolute_url }}">{{ object.first_task.pend_time_timedelta }}</a></dd>
	<dt>Total CPU Time</dt>
		<dd>{{ object.total_cpu_time_timedelta }}</dd>
	<dt>Total Wall Time</dt>
		<dd>{{ object.total_wall_time_timedelta }}</dd>
	
</dl>
<h1>Tasks</h1>
{% if object.short_jobs %}
<div class="alert alert-warning"><b>Warning:</b> Job contains tasks that ran for less than one second.</div>
{% endif %}
{% if object.exited_jobs %}
<div class="alert alert-danger"><b>Warning:</b> Job contains tasks that did not exit as expected.</div>
{% endif %}
{% include "lavaFlow/widgets/attempt_list.html" with object_list=object.attempt_set.all %}
<h1>Job Throughput</h1>
<div id="utilChart">
    <svg style='height:500px'></svg>
</div>
<script>        
	
	d3.json('{{ object.util_chart_url }}', function(data){
		  nv.addGraph(function() {
			  var chart = nv.models.stackedAreaChart()
			  .x(function(d) { return d.x })
			  .y(function(d) { return d.y })
			  .clipEdge(true);
			  chart.xAxis.tickFormat(function(d) { return d3.time.format('%c')(new Date(d)) });
			  chart.yAxis.tickFormat(d3.format(',.2f'));
			  chart.xAxis.rotateLabels(-45);
			  d3.select('#utilChart svg').datum(data).transition().duration(500).call(chart);
			  nv.utils.windowResize(chart.update);
			  return chart;
		  });
	  })
  </script>

<h1>Submission Information</h1>
{% include "lavaFlow/widgets/job_submit_info.html" with job=job %}
<h1>Job Flow</h1>
<div id="mynetwork"></div>
<script>
    
    var container = document.getElementById('mynetwork');
    var options = {
    width: '400px',
    height: '400px'
  };

    var network = new vis.Network(container, {{object.job_flow|safe}}, options);


 </script>

{% endblock %}
{% block title %}Job: {{ object.job_id }}{% endblock %}

