{% extends "lavaFlow/base.html" %}
{% block main_body %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Cluster</th>
			<th>Job ID</th>
			<th>User</th>
			<th>Pend Time</th>
			<th>Wall Time</th>
			<th>CPU Time</th>
		</tr>
	</thead>
	<tbody>
		{% for job in jobs %}
		<tr>
			<td><a href='{{job.cluster.get_absolute_url}}'>{{ job.cluster.name }}</a></td>
			<td><a href='{{ job.get_absolute_url }}'>{{ job.job_id }}</a></td>
			<td><a href='{{job.user.get_absolute_url}}'>{{ job.user.userName }}</a></td>
			<td>{{ job.pend_timedelta }}</td>
			<td>{{ job.wall_timedelta }}</td>
			<td>{{ job.cpu_timedelta }}</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan=7>No Jobs Match</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
