{% extends "lavaFlow/base.html" %}
{% block main_body %}
		<h2>All Projects</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Total Jobs</th>
					<th>Total Tasks</th>
					<th>Total Runs</th>
					<th>Last Job Submitted</th>
					<th>Last Task Executed</th>
					<th>Last Failed Task</th>
					<th>Avg Pend Time</th>
					<th>Pend as % Wall</th>
				</tr>
			</thead>
			<tbody>
				{% for q in projects.object_list %}
				<tr>
					<td><a href='{{p.get_absolute_url}}'>{{ p.name }}</a></td>
					<td>{{ p.totalJobs }} </td>
					<td>{{ p.totalTasks }}</td>
					<td>{{ p.totalRuns }}</td>
					<td><a href='{{p.last_job_submitted.get_absolute_url}}'>{{ p.last_job_submitted.submit_time_datetime }}</a></td>
					<td><a href='{{ p.last_task_executed.get_absolute_url}}'>{{ p.last_task_executed.end_time_datetime }}</a></td>
					<td><a href='{{ p.last_failed_task.get_absolute_url }}'>{{ p.last_failed_task.end_time_datetime }}</a></td>
					<td>{{ p.avg_pend_timedelta }}</td>
					<td>{{ p.avg_pend_pct }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
<div class="pagination">
	<span class="step-links">
		{% if projects.has_previous %}
		<a href="?page={{projects.previous_page_number}}">Previous</a>
		{% endif %}
		<span class="current">
			Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
		</span>
		{% if projects.has_next %}
		<a href="?page={{projects.next_page_number}}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}
