{% extends "lavaFlow/base.html" %}
{% block main_body %}
		<h2>All Queues</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Queue Name</th>
					<th>Total Jobs</th>
					<th>Total Tasks</th>
					<th>Total Runs</th>
					<th>Last Job Submitted</th>
					<th>Last Task Executed</th>
					<th>Last Failed Task</th>
					<th>Avg Pend Time</th>
					<th>Pend as % Wall</th>
				</tr>
			</thead>
			<tbody>
				{% for q in queues.object_list %}
				<tr>
					<td><a href='{{q.get_absolute_url}}'>{{ q.name }}</a></td>
					<td>{{ q.totalJobs }} </td>
					<td>{{ q.totalTasks }}</td>
					<td>{{ q.totalRuns }}</td>
					<td><a href='{{q.last_job_submitted.get_absolute_url}}'>{{ q.last_job_submitted.submit_time_datetime }}</a></td>
					<td><a href='{{ q.last_task_executed.get_absolute_url}}'>{{ q.last_task_executed.end_time_datetime }}</a></td>
					<td><a href='{{ q.last_failed_task.get_absolute_url }}'>{{ q.last_failed_task.end_time_datetime }}</a></td>
					<td>{{ q.avg_pend_timedelta }}</td>
					<td>{{ q.avg_pend_pct }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
<div class="pagination">
	<span class="step-links">
		{% if queues.has_previous %}
		<a href="?page={{queues.previous_page_number}}">Previous</a>
		{% endif %}
		<span class="current">
			Page {{ queues.number }} of {{ queues.paginator.num_pages }}.
		</span>
		{% if queues.has_next %}
		<a href="?page={{queues.next_page_number}}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}
