{% extends "lavaFlow/base.html" %}
{% block content %}

<h1>Task Information</h1>
<dl class="dl-horizontal">
	<dt>Task Id</dt>
		<dd>{{ object.task_id }}</dd>
	<dt>Job Id</dt>
		<dd>{{ object.job.job_id }}</dd>
	<dt>Cluster</dt>
		<dd>{{ object.cluster }}</dd>
	<dt>User</dt>
		<dd>{{ object.user }}</dd>
	<dt>Submit Host</td>
		<dd>{{ object.job.submit_host }}</dd>
	<dt>Submit Time</td>
		<dd>{{ object.job.submit_time_datetime }}</dd>
</dl>

{% if object.short_jobs %}
<div class="alert alert-warning"><b>Warning:</b> Task contains tasks that ran for less than one second.</div>
{% endif %}
{% if object.exited_jobs %}
<div class="alert alert-danger"><b>Warning:</b> Task contains attempts that did not exit as expected.</div>
{% endif %}
<h1>Attempts</h1>
{% include "lavaFlow/widgets/attempt_list.html" with object_list=object.attempt_set.all %}

<h1>Submission Information</h1>
{% include "lavaFlow/widgets/job_submit_info.html" with job=object.job %}

{% endblock %}
{% block title %}Task: {{ object.task.task_id }} of Job: {{ object.job.job_id }}{% endblock %}
