{% extends "lavaFlow/base.html" %}
{% block main_body %}
		<h2>All Users</h2>
		<table class="tablesorter">
			<thead>
				<tr>
					<th>User Name</th>
				</tr>
			</thead>
			<tbody>
				{% for u in users.object_list %}
				<tr>
					<td><a href='{{u.get_absolute_url}}'>{{ u.userName }}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
<div class="pagination">
	<span class="step-links">
		{% if users.has_previous %}
		<a href="?page={{users.previous_page_number}}">Previous</a>
		{% endif %}
		<span class="current">
			Page {{ users.number }} of {{ users.paginator.num_pages }}.
		</span>
		{% if users.has_next %}
		<a href="?page={{users.next_page_number}}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}
