{% extends "lavaFlow/base.html" %}
{% block main_body %}
		<h2>All Users</h2>
		<table class="tablesorter">
			<thead>
				<tr>
					<th>User Name</th>
					<th>Total Jobs</th>
					<th>Total Tasks</th>
					<th>Total Runs</th>
					<th>Last Job Submitted</th>
					<th>Last Task Executed</th>
					<th>Last Failed Task</th>
					<th>Avg Pend Time</th>
					<th>Pend as % Wall</th>
				</tr>
			</thead>
			<tbody>
				{% for u in users.object_list %}
				<tr>
					<td><a href='{{u.get_absolute_url}}'>{{ u.user_name }}</a></td>
					<td>{{ u.total_jobs }}</td>
					<td>{{ u.total_tasks }}</td>
					<td>{{ u.total_runs }}</td>
					<td><a href='{{u.last_job_submitted.get_absolute_url}}'>{{ u.last_job_submitted.submit_time_datetime }}</a></td>
					<td><a href='{{ u.last_task_executed.get_absolute_url}}'>{{ u.last_task_executed.end_time_datetime }}</a></td>
					<td><a href='{{ u.last_failed_task.get_absolute_url }}'>{{ u.last_failed_task.end_time_datetime }}</a></td>
					<td>{{ u.avg_pend_timedelta }}</td>
					<td>{{ u.avg_pend_pct }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
<div class="pagination">
	<span class="step-links">
		{% if users.has_previous %}
		<a href="?page={{users.previous_page_number}}">Previous</a>
		{% endif %}
		<span class="current">
			Page {{ users.number }} of {{ users.paginator.num_pages }}.
		</span>
		{% if users.has_next %}
		<a href="?page={{users.next_page_number}}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}
