{% extends "lavaFlow/base.html" %}
{% block actions %} 
	<li>
		<a id="permalinkURL" href='#'><span class="glyphicon glyphicon-link"></span></a>
	</li>
	<li>
	<a href="#"><span id="filterIcon" class="glyphicon glyphicon-filter"></a></span>
	</li>

{% endblock %}
{% block title %}Utilization View{% endblock %}
{% block content %}
<div id="rangeSelector">
	<div id="slider"></div>
	<p id="rangeText">Loading report range....</p>
</div>
<script>
	var selectedMin={{ start_time }};
	var selectedMax={{ end_time }};
	var buildFilterUrl='{{ build_filter_url|safe }}';
	var filters={{ filters|safe }};
	var excludes={{ excludes|safe }};
	var count=0;

	$('#filterIcon').popover({
		"animation":true,
		"placement":"bottom",
		"html":true,
		"title":"Report Information",
		"content":function (){
			return buildPopoverText();
		}
	});
	function buildPopoverText(){
		var h;
		h="<dl><dt># Entries</dt><dd>"+count+"</dd>";
		for (var key in filters) {
	  		if (filters.hasOwnProperty(key)) {
				h += "<dt>Filter on " + key + "</dt><dl>";
				if (endsWith(key,"__in")){
					filters[key].forEach(function(entry){
						h+="<a href='#' onClick=\"removeFilter('"+key+"','"+entry+"');$('#filterIcon').popover('toggle');$('#filterIcon').popover('toggle');return false;\"><span class=\"glyphicon glyphicon-remove\"></span></a>"+entry+" ";
					});
				}else{
					h+="<a href='#' onClick=\"removeFilter('"+key+"','"+filters[key]+"');$('#filterIcon').popover('toggle');$('#filterIcon').popover('toggle');return false;\"><span class=\"glyphicon glyphicon-remove\"></span></a>"+filters[key]+" ";
				}
				h +="</dd>";
			}
		}
		for (var key in excludes) {
	  		if (excludes.hasOwnProperty(key)) {
				h += "<dt>Exclude " + key + "</dt><dl>";
				if (endsWith(key,"__in")){
					excludes[key].forEach(function(entry){
						h+="<a href='#' onClick=\"removeExclude('"+key+"','"+entry+"');$('#filterIcon').popover('toggle');$('#filterIcon').popover('toggle');return false;\"><span class=\"glyphicon glyphicon-remove\"></span></a>"+entry+" ";
					});
				}else{
				h+="<a href='#' onClick=\"removeExclude('"+key+"','"+excludes[key]+"');$('#filterIcon').popover('toggle');$('#filterIcon').popover('toggle');return false;\"><span class=\"glyphicon glyphicon-remove\"></span></a>"+excludes[key]+" ";
				}
				h +="</dd>";
			}
		}
		h+="</dl>";
		return h;
	}	

	// Add the slider
	$( "#slider" ).slider({
		range: true,
		disabled: true,
		slide: function( event, ui ){
			var startDate=new Date(ui.values[0]);
			var endDate=new Date(ui.values[1]);
			$("#rangeText").text('Report start: ' + startDate + ', report end: ' + endDate );
		},
		change: function(event, ui){
			selectedMin=ui.values[0];
			selectedMax=ui.values[1];
			if (! $("#slider").slider("option", "disabled")){
				updateReport();
			}
		},
	});
	








    // Add the utilization chart
	var utilChart;
	nv.addGraph(function() {
		utilChart = nv.models.stackedAreaChart();
		utilChart.clipEdge(true);
		utilChart.xAxis.tickFormat(function(d) { return d3.time.format('%x %X')(new Date(d)) });
		utilChart.xAxis.rotateLabels(-45);
		utilChart.margin({bottom: 120, left:100});
		utilChart.xAxis.axisLabel('Date');
		utilChart.showControls(false);
		d3.select('#chart_utilization svg')
		.datum([])
		.transition().duration(500)
		.call(utilChart);
		nv.utils.windowResize(utilChart.update);
		return utilChart;
	});

    // Add the consumption chart
	var consumptionChart;
	nv.addGraph(function() {
		consumptionChart = nv.models.multiBarChart();
		d3.select('#chart_consumption svg')
			.datum([])
			.transition().duration(500)
			.call(consumptionChart);
		nv.utils.windowResize(consumptionChart.update);
		return consumptionChart;
	});

    // Add the resource usage chart
	var resourceChart;
	nv.addGraph(function() {
		resourceChart = nv.models.multiBarChart();
		d3.select('#chart_resources svg')
			.datum([])
			.transition().duration(500)
			.call(resourceChart);
		nv.utils.windowResize(resourceChart.update);
		return resourceChart;
	});

    // Add the resource usage chart
	var submissionChart;
	nv.addGraph(function() {
		submissionChart = nv.models.multiBarChart();
		d3.select('#chart_submission svg')
			.datum([])
			.transition().duration(500)
			.call(resourceChart);
		nv.utils.windowResize(submissionChart.update);
		return submissionChart;
	});


	// Updates the RangeSlider widget, if there is data - loads data into charts.
	function updateRangeSlider(){
	$( "#slider" ).slider( "option", "disabled", true );
		var filterData={
			view:'lf_get_report_range',
			filters:filters,
			excludes:excludes,
			groups:[],
			start_time_js:selectedMin,
			end_time_js:selectedMax
		};
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
			$.getJSON(data.url, function(data) {
				if (data.count>0){
					count=data.count;
					// If using default values, populate them 
					if ( selectedMin < data.start_time ){
						selectedMin=data.suggested_start_time;
					}
					if ( selectedMax > data.end_time ){
						selectedMax=data.suggested_end_time;
					}
					if (selectedMax-selectedMin < 1){
						selectedMax=data.suggested_end_time;
						selectedMin=data.suggested_start_time;
					}

					// Set the counter to the amount of data
					$("#counterText").text(data.count);

					// Set the report range
					var startDate=new Date(selectedMin);
					var endDate=new Date(selectedMax);
					$("#rangeText").text('Report start: ' + startDate + ', report end: ' + endDate );

					// Set the range
					$( "#slider" ).slider( "option", "max", data.end_time );
					$( "#slider" ).slider( "option", "min", data.start_time );

					// Set the selection
					$( "#slider" ).slider( "option", "values", [ selectedMin, selectedMax ]);
					
					// Enable the slider
					$( "#slider" ).slider( "option", "disabled", false );

					loadWidgets();
				}
				else{
					// Disable the slider
					$( "#slider" ).slider( "option", "disabled", true );
					$("#rangeText").text('No data was found for this filter.' );
				}
			});
		});
	}



	function initializeReport(){
		updateRangeSlider();
	}
	function updateReport(){
		// Disabale the slider
		$( "#slider" ).slider( "option", "disabled", true );

		clearWidgets();
		updateRangeSlider();
	}


	function endsWith(str, suffix) {
    	return str.indexOf(suffix, str.length - suffix.length) !== -1;
	}

	function addFilter(filterName, value){
		if ( endsWith(filterName, "__in" )){
			if ( !filters.hasOwnProperty(filterName) ){
				filters[filterName]=[];
			}
			filters[filterName].push(value)
		}else{
			filters[filterName]=value
		}
		updateReport();
	}
	function removeFilter(filterName,value){
		if (filters.hasOwnProperty(filterName)){
			if (endsWith(filterName, "__in")){
				var loc=filters[filterName].indexOf(value);
				if (loc >-1){
					filters[filterName].splice(loc);
					if ( filters[filterName].length <1 ){
						delete filters[filterName];
					}
					updateReport();
				}
			}
			else{
				delete filters[filterName];
				updateReport();
			}
		}
	}
	function removeExclude(excludeName,value){
		if (excludes.hasOwnProperty(excludeName)){
			if (endsWith(excludeName, "__in")){
				var loc=excludes[excludeName].indexOf(value);
				if (loc >-1){
					excludes[excludeName].splice(loc);
					if ( excludes[excludeName].length <1 ){
						delete excludes[excludeName];
					}
					updateReport();
				}
			}
			else{
				delete excludes[excludeName];
				updateReport();
			}
		}
	}

	function addExclude(excludeName, value){
		if ( endsWith(excludeName, "__in" )){
			if ( !excludes.hasOwnProperty(excludeName) ){
				excludes[excludeName]=[];
			}
			excludes[excludeName].push(value)
		}else{
			excludes[excludeName]=value
		}
		updateReport();
	}


    var current_resource_report="overall";
    var resource_report_data={
        overall:[],
        size:[],
        cluster:[],
        queue:[],
        project:[],
        user:[],
    };

    var current_consumption_report="overall";
    var consumption_report_data={
        overall:[],
        size:[],
        exit:[],
        cluster:[],
        queue:[],
        project:[],
        user:[],
    };

    var current_submission_report="overall";
    var submission_report_data={
        overall:[],
        size:[],
        cluster:[],
        queue:[],
        project:[],
    };



    var current_util_report="overall";
    var util_report_data={
        overall:{
            chart:[],
            table:""
        },
        cluster:{
                chart:[],
                table:""
            },
        queue:{
                chart:[],
                table:""
            },
        user:{
                chart:[],
                table:""
            },
        size:{
                chart:[],
                table:""
            },
        project:{
                chart:[],
                table:""
            }
       };

    var empty_chart=[
    {
        key:"Loading...",
        values:[
        {x:0, y:0}, {x:1, y:0}
        ]
    }
    ];
    function set_active_util_chart(selector, state){
        current_util_report = state;
        // Change the classes in the tabs...
        var as=["overall", "cluster", "queue", "user", "size","project"];
        var ws=selector+"_"+state;
        $.each( as, function( index, value ){
            var v = selector+"_"+value;
            document.getElementById(v).className ="";
        if (v.valueOf() === ws.valueOf()){
                document.getElementById(v).className ="active";
        }
        });

        // Set the attributes for the active graph
        d3.select("#chart_utilization svg")
            .datum(empty_chart)
            .transition().duration(500)
            .call(utilChart);
        d3.select("#chart_utilization svg")
            .datum(util_report_data[state]['chart'])
            .transition().duration(500)
            .call(utilChart);
        $("#table_utilization").html(util_report_data[state]['table']);
    }
    function set_active_resource_chart(selector, state){
        current_util_report = state;
        // Change the classes in the tabs...
        var as=["overall", "size", "cluster", "queue", "project", "user"];
        var ws=selector+"_"+state;
        $.each( as, function( index, value ){
            var v = selector+"_"+value;
            document.getElementById(v).className ="";
            if (v.valueOf() === ws.valueOf()){
                    document.getElementById(v).className ="active";
            }
        });

        // Set the attributes for the active graph
        d3.select("#chart_resources svg")
            .datum(empty_chart)
            .transition().duration(500)
            .call(resourceChart);
        d3.select("#chart_resources svg")
            .datum(resource_report_data[state])
            .transition().duration(500)
            .call(resourceChart);
    }
    function set_active_consumption_chart(selector, state){
        current_util_report = state;
        // Change the classes in the tabs...
        var as=["overall", "size", "exit", "cluster", "queue", "project", "user"];
        var ws=selector+"_"+state;
        $.each( as, function( index, value ){
            var v = selector+"_"+value;
            document.getElementById(v).className ="";
            if (v.valueOf() === ws.valueOf()){
                    document.getElementById(v).className ="active";
            }
        });

        // Set the attributes for the active graph
        d3.select("#chart_consumption svg")
            .datum(empty_chart)
            .transition().duration(500)
            .call(consumptionChart);
        d3.select("#chart_consumption svg")
            .datum(consumption_report_data[state])
            .transition().duration(500)
            .call(consumptionChart);
    }
    function set_active_submission_chart(selector, state){
        current_util_report = state;
        // Change the classes in the tabs...
        var as=["overall", "cluster", "size", "queue", "project"];
        var ws=selector+"_"+state;
        $.each( as, function( index, value ){
            var v = selector+"_"+value;
            document.getElementById(v).className ="";
            if (v.valueOf() === ws.valueOf()){
                    document.getElementById(v).className ="active";
            }
        });

        // Set the attributes for the active graph
        d3.select("#chart_submission svg")
            .datum(empty_chart)
            .transition().duration(500)
            .call(submissionChart);
        d3.select("#chart_submission svg")
            .datum(submission_report_data[state])
            .transition().duration(500)
            .call(submissionChart);
    }

	function clearWidgets(){
		// Clears data from all widgets...
		charts=[
			{
				id:"#chart_utilization svg",
				container:utilChart
			},
			{
				id:"#chart_consumption svg",
				container:consumptionChart
			},
			{
				id:"#chart_submission svg",
				container:submissionChart
			},
			{
			    id:"#chart_resources svg",
			    container:resourceChart
			}
		];

		charts.forEach(function(entry){
			d3.select(entry.id)
			.datum(empty_chart)
			.transition().duration(500)
			.call(entry.container);
			d3.select(entry.id)
			.datum([])
			.transition().duration(500)
			.call(entry.container);
		});

		areas=[
			'#table_utilization',
			];
		areas.forEach(function(entry){
			$(entry).html('Updating.....');
		});
	}

	function loadWidgets(){
		// Loads data into widgets
		var filterData={
			view:'lf_utilization_view',
			filters:filters,
			excludes:excludes,
			groups:[],
			start_time_js:selectedMin,
			end_time_js:selectedMax
		};


		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
			$("#permalinkURL").attr("href", data.url);
		});
		
		filterData.view='lf_util_total_attempts';
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
			$("#counterText").text(data.count);
		});


        // Load data for each of the widgets
		filterData.view='lf_util_chart_view';
		filterData.groups=[];
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                util_report_data['overall']['chart']=data['data'];
                // Check if selected, then display....
                if (current_util_report == "overall"){
                    d3.select("#chart_utilization svg")
                    .datum(util_report_data['overall']['chart'])
                    .transition().duration(500)
                    .call(utilChart);
                }
		    });
        });

		filterData.view='lf_utilization_table'
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.get(data.url, function(data) {
		        util_report_data['overall']['table']=data;
    		    // Check if selected, then display....
    		    if (current_util_report == "overall"){
    		        $("#table_utilization").html(util_report_data['overall']['table']);
    		    }
	    	});
        });


		filterData.view='lf_util_chart_view';
		filterData.groups=['cluster__name'];
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
			 $.getJSON(data.url, function(data) {
				util_report_data['cluster']['chart']=data['data'];
			    // Check if selected, then display....
			    if (current_util_report == "cluster"){
                    d3.select("#chart_utilization svg")
                    .datum(util_report_data['cluster']['chart'])
                    .transition().duration(500)
                    .call(utilChart);
	    		}
			});
		});

		filterData.view='lf_utilization_table'
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.get(data.url, function(data) {
		        util_report_data['cluster']['table']=data;
		        // Check if selected, then display....
		        if (current_util_report == "cluster"){
    		        $("#table_utilization").html(util_report_data['cluster']['table']);
    		    }
		    });
		});


        filterData.view='lf_util_chart_view';
		filterData.groups=['queue__name'];
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                util_report_data['queue']['chart']=data['data'];
                // Check if selected, then display....
                if (current_util_report == "queue"){
                    d3.select("#chart_utilization svg")
                    .datum(util_report_data['queue']['chart'])
                    .transition().duration(500)
                    .call(utilChart);
                }
            });
        });

        filterData.view='lf_utilization_table'
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.get(data.url, function(data) {
                util_report_data['queue']['table']=data;
                // Check if selected, then display....
                if (current_util_report == "queue"){
    		        $("#table_utilization").html(util_report_data['queue']['table']);
    		    }
		    });
        });


        filterData.view='lf_util_chart_view';
		filterData.groups=['user__name'];
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
           $.getJSON(data.url, function(data) {
                util_report_data['user']['chart']=data['data'];
			    // Check if selected, then display....
			    if (current_util_report == "user"){
                    d3.select("#chart_utilization svg")
                    .datum(util_report_data['user']['chart'])
                    .transition().duration(500)
                    .call(utilChart);
                }
            });
		});

        filterData.view='lf_utilization_table'
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.get(data.url, function(data) {
		        util_report_data['user']['table']=data;
    		    // Check if selected, then display....
    		    if (current_util_report == "user"){
    		        $("#table_utilization").html(util_report_data['user']['table']);
    		    }
            });
		});


        filterData.view='lf_util_chart_view';
		filterData.groups=['num_processors'];
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                 util_report_data['size']['chart']=data['data'];
                // Check if selected, then display....
                if (current_util_report == "size"){
                    d3.select("#chart_utilization svg")
                    .datum(util_report_data['size']['chart'])
                    .transition().duration(500)
                    .call(utilChart);
                }
			});
		});

		filterData.view='lf_utilization_table'
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.get(data.url, function(data) {
                util_report_data['overall']['size']=data;
                // Check if selected, then display....
                if (current_util_report == "size"){
    		        $("#table_utilization").html(util_report_data['size']['table']);
    		    }
		    });
		});


        filterData.view='lf_util_chart_view';
		filterData.groups=['projects__name'];
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                util_report_data['project']['chart']=data['data'];
                // Check if selected, then display....
                if (current_util_report == "project"){
                    d3.select("#chart_utilization svg")
                    .datum(util_report_data['project']['chart'])
                    .transition().duration(500)
                    .call(utilChart);
                }
            });
		});

		filterData.view='lf_utilization_table'
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.get(data.url, function(data) {
                util_report_data['project']['table']=data;
                // Check if selected, then display....
                if (current_util_report == "project"){
    		        $("#table_utilization").html(util_report_data['project']['table']);
    		    }
		    });
		});

		filterData.view='lf_consumption_chart';
		filterData.groups=[];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
		        consumption_report_data['overall']=data['data'];
                if ( current_consumption_report == 'overall' ){
                        d3.select('#chart_consumption svg')
                        .datum(consumption_report_data['overall'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});

		filterData.view='lf_consumption_chart';
		filterData.groups=['status__name'];
		$.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                consumption_report_data['exit']=data['data'];
                if ( current_consumption_report == 'exit' ){
                        d3.select('#chart_consumption svg')
                        .datum(consumption_report_data['exit'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});


		filterData.view='lf_consumption_chart';
		filterData.groups=['num_processors'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                consumption_report_data['size']=data['data'];
                if ( current_consumption_report == 'size' ){
                        d3.select('#chart_consumption svg')
                        .datum(consumption_report_data['size'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});

        filterData.view='lf_consumption_chart';
		filterData.groups=['cluster__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                consumption_report_data['cluster']=data['data'];
                if ( current_consumption_report == 'cluster' ){
                        d3.select('#chart_consumption svg')
                        .datum(consumption_report_data['cluster'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});
		filterData.view='lf_consumption_chart';
		filterData.groups=['queue__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                consumption_report_data['queue']=data['data'];
                if ( current_consumption_report == 'queue' ){
                        d3.select('#chart_consumption svg')
                        .datum(consumption_report_data['queue'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});
		filterData.view='lf_consumption_chart';
		filterData.groups=['user__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                consumption_report_data['user']=data['data'];
                if ( current_consumption_report == 'user' ){
                        d3.select('#chart_consumption svg')
                        .datum(consumption_report_data['user'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});
		filterData.view='lf_consumption_chart';
		filterData.groups=['projects__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                consumption_report_data['project']=data['data'];
                if ( current_consumption_report == 'project' ){
                        d3.select('#chart_consumption svg')
                        .datum(consumption_report_data['user'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});





		filterData.view='lf_resource_chart';
		filterData.groups=[];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
		        resource_report_data['overall']=data['data'];
                if ( current_resource_report == 'overall' ){
                        d3.select('#chart_resources svg')
                        .datum(resource_report_data['overall'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});

		filterData.view='lf_resource_chart';
		filterData.groups=['num_processors'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                resource_report_data['size']=data['data'];
                if ( current_resource_report == 'size' ){
                        d3.select('#chart_resources svg')
                        .datum(resource_report_data['size'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});

        filterData.view='lf_resource_chart';
		filterData.groups=['cluster__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                resource_report_data['cluster']=data['data'];
                if ( current_resource_report == 'cluster' ){
                        d3.select('#chart_resources svg')
                        .datum(resource_report_data['cluster'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});
		filterData.view='lf_resource_chart';
		filterData.groups=['queue__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                resource_report_data['queue']=data['data'];
                if ( current_resource_report == 'queue' ){
                        d3.select('#chart_resources svg')
                        .datum(resource_report_data['queue'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});
		filterData.view='lf_resource_chart';
		filterData.groups=['user__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                resource_report_data['user']=data['data'];
                if ( current_resource_report == 'user' ){
                        d3.select('#chart_resources svg')
                        .datum(resource_report_data['user'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});
		filterData.view='lf_resource_chart';
		filterData.groups=['projects__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                resource_report_data['project']=data['data'];
                if ( current_resource_report == 'project' ){
                        d3.select('#chart_resources svg')
                        .datum(resource_report_data['user'])
                        .transition().duration(500)
                        .call(consumptionChart);
                }
            });
		});



        filterData.view='lf_submission_chart';
		filterData.groups=[];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                submission_report_data['overall']=data['data'];
                if ( current_submission_report == 'overall' ){
                        d3.select('#chart_submission svg')
                        .datum(submission_report_data['overall'])
                        .transition().duration(500)
                        .call(submissionChart);
                }
            });
		});
        filterData.view='lf_submission_chart';
		filterData.groups=['num_processors'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                submission_report_data['size']=data['data'];
                if ( current_submission_report == 'size' ){
                        d3.select('#chart_submission svg')
                        .datum(submission_report_data['size'])
                        .transition().duration(500)
                        .call(submissionChart);
                }
            });
		});
        filterData.view='lf_submission_chart';
		filterData.groups=['cluster__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                submission_report_data['cluster']=data['data'];
                if ( current_submission_report == 'cluster' ){
                        d3.select('#chart_submission svg')
                        .datum(submission_report_data['cluster'])
                        .transition().duration(500)
                        .call(submissionChart);
                }
            });
		});

        filterData.view='lf_submission_chart';
		filterData.groups=['project__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                submission_report_data['project']=data['data'];
                if ( current_submission_report == 'project' ){
                        d3.select('#chart_submission svg')
                        .datum(submission_report_data['project'])
                        .transition().duration(500)
                        .call(submissionChart);
                }
            });
		});
        filterData.view='lf_submission_chart';
		filterData.groups=['queue__name'];
        $.post(buildFilterUrl,JSON.stringify(filterData),function( data ){
		    $.getJSON(data.url, function(data) {
                submission_report_data['queue']=data['data'];
                if ( current_submission_report == 'queue' ){
                        d3.select('#chart_submission svg')
                        .datum(submission_report_data['queue'])
                        .transition().duration(500)
                        .call(submissionChart);
                }
            });
		});
	}
	initializeReport();
</script>

<h1>Utilization</h1>
<p>The Utilization Chart shows the utilization of the cluster grouped by the selected field.  Utilization shows the number
of processors that were in use at any given time, stacked on top of this are the corresponding number of processors that
were pending at that time.  Pending tasks are those that have been submitted to the cluster but are not executing.</p>

<ul id="chart_utilization_nav" class="nav nav-tabs">
    <li id="chart_utilization_overall" class="active"><a href="#" onClick='set_active_util_chart("chart_utilization", "overall"); return false;'>Overall</a></li>
    <li id="chart_utilization_cluster"><a href="#" onClick='set_active_util_chart("chart_utilization", "cluster"); return false;'>By Cluster</a></li>
    <li id="chart_utilization_queue"><a href="#" onClick='set_active_util_chart("chart_utilization", "queue"); return false;'>By Queue</a></li>
    <li id="chart_utilization_project"><a href="#" onClick='set_active_util_chart("chart_utilization", "project"); return false;'>By Project</a></li>
    <li id="chart_utilization_user"><a href="#" onClick='set_active_util_chart("chart_utilization", "user"); return false;'>By User</a></li>
    <li id="chart_utilization_size"><a href="#" onClick='set_active_util_chart("chart_utilization", "size"); return false;'>By Size</a></li>
</ul>
<div id="chart_utilization">
    <svg height="400px"></svg>
</div>
<div id="table_utilization"></div>

<h1>Consumption</h1>
<p>The resource consumption chart shows the total amount of time (in seconds) and the number of tasks that were active
    during this time.  Use this chart to see what the net consumption of the cluster is for a specific group of metrics.
    For example to see which job sizes consume the most CPU time on the cluster.</p>
<ul id="chart_consumption_nav" class="nav nav-tabs">
    <li id="chart_consumption_overall" class="active"><a href="#" onClick='set_active_consumption_chart("chart_consumption", "overall"); return false;'>Overall</a></li>
    <li id="chart_consumption_size"><a href="#" onClick='set_active_consumption_chart("chart_consumption", "size"); return false;'>By Job Size</a></li>
    <li id="chart_consumption_exit"><a href="#" onClick='set_active_consumption_chart("chart_consumption", "exit"); return false;'>By Exit Status</a></li>
    <li id="chart_consumption_cluster"><a href="#" onClick='set_active_consumption_chart("chart_consumption", "cluster"); return false;'>By Cluster</a></li>
    <li id="chart_consumption_project"><a href="#" onClick='set_active_consumption_chart("chart_consumption", "project"); return false;'>By Project</a></li>
    <li id="chart_consumption_queue"><a href="#" onClick='set_active_consumption_chart("chart_consumption", "queue"); return false;'>By Queue</a></li>
    <li id="chart_consumption_user"><a href="#" onClick='set_active_consumption_chart("chart_consumption", "user"); return false;'>By User</a></li>
</ul>

<div id='chart_consumption'><svg style='height:500px'></svg></div>


<h1>Resource Usage</h1>
<p>Most schedulers gather resource usage information using the getrusage() system call. Not all schedulers support this
    operation, data will not be available for those jobs.  Use this chart to understand the characteristics of the jobs,
    how much RAM they use, if they are swapping, and if there are contention issues on the cluster for resources.
</p>
<ul id="chart_resources_nav" class="nav nav-tabs">
    <li id="chart_resources_overall" class="active"><a href="#" onClick='set_active_resource_chart("chart_resources", "overall"); return false;'>Overall</a></li>
    <li id="chart_resources_size"><a href="#" onClick='set_active_resource_chart("chart_resources", "size"); return false;'>By Job Size</a></li>
    <li id="chart_resources_cluster"><a href="#" onClick='set_active_resource_chart("chart_resources", "cluster"); return false;'>By Cluster</a></li>
    <li id="chart_resources_project"><a href="#" onClick='set_active_resource_chart("chart_resources", "project"); return false;'>By Project</a></li>
    <li id="chart_resources_queue"><a href="#" onClick='set_active_resource_chart("chart_resources", "queue"); return false;'>By Queue</a></li>
    <li id="chart_resources_user"><a href="#" onClick='set_active_resource_chart("chart_resources", "user"); return false;'>By User</a></li>
</ul>

<div id='chart_resources'><svg style='height:500px'></svg></div>

<h1>Job Submission</h1>
<p>Shows data on when jobs were submitted to the cluster</p>

<ul id="chart_submission_nav" class="nav nav-tabs">
    <li id="chart_submission_overall" class="active"><a href="#" onClick='set_active_submission_chart("chart_submission", "overall"); return false;'>By Hour</a></li>
    <li id="chart_submission_size"><a href="#" onClick='set_active_submission_chart("chart_submission", "size"); return false;'>By Day of Week</a></li>
    <li id="chart_submission_project"><a href="#" onClick='set_active_submission_chart("chart_submission", "project"); return false;'>By Day of Month</a></li>
    <li id="chart_submission_cluster"><a href="#" onClick='set_active_submission_chart("chart_submission", "cluster"); return false;'>By Week of Year</a></li>
    <li id="chart_submission_queue"><a href="#" onClick='set_active_submission_chart("chart_submission", "queue"); return false;'>By Month</a></li>

</ul>

<div id='chart_submission'><svg style='height:500px'></svg></div>


{% endblock %}
