{% extends "lavaFlow/base.html" %}
{% block head %}
        {% load staticfiles %}
        <script src="{% static "lavaFlow/js/util.js" %}"></script>
{% endblock %}
{% block actions %} 
	<li><a id="permalinkURL" href='#'><span class="glyphicon glyphicon-link"></span></a></li>
    <li><a href="#" data-toggle="modal" data-target="#filterModal"><span id="filterModallinkIcon" class="glyphicon glyphicon-question-sign"></span><span id="filterCount" class="badge"></span></a></li>
{% endblock %}

{% block title %}Utilization View{% endblock %}

{% block content %}
<script>

	var report_start_time={{ start_time }};
	var report_end_time={{ end_time }};
	var buildFilterUrl='{{ build_filter_url|safe }}';
    var chart_data={
        chart_cpu:{
            chart_attributes:[
                {
                    key:"xAxis.tickFormat",
                    value:function(d) { return d3.time.format('%x %X')(new Date(d)) }
                },
                {
                    key:"xAxis.rotateLabels",
                    value:-45,
                },
                {
                    key:"xAxis.axisLabel",
                    value:"Date",
                }
            ],
            active: "overall",
            chart: null,
            chart_type: "bar",
            chart_view: "lf_cpu_consumption_chart",
            data:{
                overall:{
                    groups:[],
                    chart_data:[],
                    table_data:[]
                },
                cluster:{
                    groups:["cluster__name"],
                    chart_data:[],
                    table_data:[]
                },
                size:{
                    groups:["num_processors"],
                    chart_data:[],
                    table_data:[]
                },
                queue:{
                    groups:["queue__name"],
                    chart_data:[],
                    table_data:[]
                },
                user:{
                    groups:["user__name"],
                    chart_data:[],
                    table_data:[]
                },
                project:{
                    groups:["projects__name"],
                    chart_data:[],
                    table_data:[]
                },
            }
        },
        chart_resources:{
            active: "overall",
            chart: null,
            chart_type: "bar",
            chart_view: "lf_resource_chart",
            data:{
                overall:{
                    groups:[],
                    chart_data:[],
                    table_data:[]
                },
                cluster:{
                    groups:["cluster__name"],
                    chart_data:[],
                    table_data:[]
                },
                size:{
                    groups:["num_processors"],
                    chart_data:[],
                    table_data:[]
                },
                queue:{
                    groups:["queue__name"],
                    chart_data:[],
                    table_data:[]
                },
                user:{
                    groups:["user__name"],
                    chart_data:[],
                    table_data:[]
                },
                project:{
                    groups:["projects__name"],
                    chart_data:[],
                    table_data:[]
                },
            }
        },
        chart_submission:{
            active: "overall",
            active_field: "submit_hour_of_day",
            chart: null,
            chart_type: "bar",
            chart_view: "lf_submission_chart",
            data:{
                overall:{
                    groups:[],
                    chart_data:{
                        "submit_hour_of_day":[],
                        "submit_day_of_week":[],
                        "submit_day_of_month":[],
                        "submit_week_of_year":[],
                        "submit_month":[],
                    },
                    table_data:[]
                },
                size:{
                    groups:["num_processors"],
                    chart_data:{
                        "submit_hour_of_day":[],
                        "submit_day_of_week":[],
                        "submit_day_of_month":[],
                        "submit_week_of_year":[],
                        "submit_month":[],
                    },
                    table_data:[]
                },
                cluster:{
                    groups:["cluster__name"],
                    chart_data:{
                        "submit_hour_of_day":[],
                        "submit_day_of_week":[],
                        "submit_day_of_month":[],
                        "submit_week_of_year":[],
                        "submit_month":[],
                    },
                    table_data:[]
                },
                project:{
                    groups:["projects__name"],
                    chart_data:{
                        "submit_hour_of_day":[],
                        "submit_day_of_week":[],
                        "submit_day_of_month":[],
                        "submit_week_of_year":[],
                        "submit_month":[],
                    },
                    table_data:[]
                },
                queue:{
                    groups:["queue__name"],
                    chart_data:{
                        "submit_hour_of_day":[],
                        "submit_day_of_week":[],
                        "submit_day_of_month":[],
                        "submit_week_of_year":[],
                        "submit_month":[],
                    },
                    table_data:[]
                },
            },
        },
        chart_consumption:{
            active: "overall",
            chart: null,
            chart_type: "bar",
            chart_view: "lf_consumption_chart",
            data:{
                overall:{
                    groups:[],
                    chart_data:[],
                    table_data:[]
                },
                exit:{
                    groups:["status__name"],
                    chart_data:[],
                    table_data:[]
                },
                size:{
                    groups:["num_processors"],
                    chart_data:[],
                    table_data:[]
                },
                cluster:{
                    groups:["cluster__name"],
                    chart_data:[],
                    table_data:[]
                },
                queue:{
                    groups:["queue__name"],
                    chart_data:[],
                    table_data:[]
                },
                user:{
                    groups:["user__name"],
                    chart_data:[],
                    table_data:[]
                },
                project:{
                    groups:["projects__name"],
                    chart_data:[],
                    table_data:[]
                },
            },
        },
        chart_utilization:{
            active: "overall",
            chart: null,
            chart_type: "area",
            chart_view: "lf_util_chart_view",
            table_view:"lf_utilization_table",
            data:{
                overall:{
                    groups:[],
                    chart_data:[],
                    table_data:[]
                },
                cluster:{
                    groups:["cluster__name"],
                    chart_data:[],
                    table_data:[]
                },
                queue:{
                    groups:["queue__name"],
                    chart_data:[],
                    table_data:[]
                },
                user:{
                    groups:["user__name"],
                    chart_data:[],
                    table_data:[]
                },
                size:{
                    groups:["num_processors"],
                    chart_data:[],
                    table_data:[]
                },
                project:{
                    groups:["projects__name"],
                    chart_data:[],
                    table_data:[]
                },
            },
        },
    };
    // Populate the current_filters array with their starting values.
    var active_filter = '{{first_filter}}';
    var current_filters={{ current_filters|safe }};

</script>

<h1>Utilization</h1>
<p>The Utilization Chart shows the utilization of the cluster grouped by the selected field.  Utilization shows the number
of processors that were in use at any given time, stacked on top of this are the corresponding number of processors that
were pending at that time.  Pending tasks are those that have been submitted to the cluster but are not executing.</p>

<ul id="chart_utilization_nav" class="nav nav-tabs">
    <li id="chart_utilization_overall" class="active"><a href="#" onClick='set_active_chart("chart_utilization", "overall"); return false;'>Overall</a></li>
    <li id="chart_utilization_cluster"><a href="#" onClick='set_active_chart("chart_utilization", "cluster"); return false;'>By Cluster</a></li>
    <li id="chart_utilization_queue"><a href="#" onClick='set_active_chart("chart_utilization", "queue"); return false;'>By Queue</a></li>
    <li id="chart_utilization_project"><a href="#" onClick='set_active_chart("chart_utilization", "project"); return false;'>By Project</a></li>
    <li id="chart_utilization_user"><a href="#" onClick='set_active_chart("chart_utilization", "user"); return false;'>By User</a></li>
    <li id="chart_utilization_size"><a href="#" onClick='set_active_chart("chart_utilization", "size"); return false;'>By Size</a></li>
</ul>
<div id="chart_utilization">
    <svg height="400px"></svg>
</div>
<div id="chart_utilization_table"></div>

<h1>Consumption</h1>
<p>The resource consumption chart shows the total amount of time (in seconds) and the number of tasks that were active
    during this time.  Use this chart to see what the net consumption of the cluster is for a specific group of metrics.
    For example to see which job sizes consume the most CPU time on the cluster.</p>
<ul id="chart_consumption_nav" class="nav nav-tabs">
    <li id="chart_consumption_overall" class="active"><a href="#" onClick='set_active_chart("chart_consumption", "overall"); return false;'>Overall</a></li>
    <li id="chart_consumption_size"><a href="#" onClick='set_active_chart("chart_consumption", "size"); return false;'>By Job Size</a></li>
    <li id="chart_consumption_exit"><a href="#" onClick='set_active_chart("chart_consumption", "exit"); return false;'>By Exit Status</a></li>
    <li id="chart_consumption_cluster"><a href="#" onClick='set_active_chart("chart_consumption", "cluster"); return false;'>By Cluster</a></li>
    <li id="chart_consumption_project"><a href="#" onClick='set_active_chart("chart_consumption", "project"); return false;'>By Project</a></li>
    <li id="chart_consumption_queue"><a href="#" onClick='set_active_chart("chart_consumption", "queue"); return false;'>By Queue</a></li>
    <li id="chart_consumption_user"><a href="#" onClick='set_active_chart("chart_consumption", "user"); return false;'>By User</a></li>
</ul>

<div id='chart_consumption'><svg style='height:500px'></svg></div>
<div id="chart_consumption_table"></div>

<h1>Resource Usage</h1>
<p>Most schedulers gather resource usage information using the getrusage() system call. Not all schedulers support this
    operation, data will not be available for those jobs.  Use this chart to understand the characteristics of the jobs,
    how much RAM they use, if they are swapping, and if there are contention issues on the cluster for resources.
</p>
<ul id="chart_resources_nav" class="nav nav-tabs">
    <li id="chart_resources_overall" class="active"><a href="#" onClick='set_active_chart("chart_resources", "overall"); return false;'>Overall</a></li>
    <li id="chart_resources_size"><a href="#" onClick='set_active_chart("chart_resources", "size"); return false;'>By Job Size</a></li>
    <li id="chart_resources_cluster"><a href="#" onClick='set_active_chart("chart_resources", "cluster"); return false;'>By Cluster</a></li>
    <li id="chart_resources_project"><a href="#" onClick='set_active_chart("chart_resources", "project"); return false;'>By Project</a></li>
    <li id="chart_resources_queue"><a href="#" onClick='set_active_chart("chart_resources", "queue"); return false;'>By Queue</a></li>
    <li id="chart_resources_user"><a href="#" onClick='set_active_chart("chart_resources", "user"); return false;'>By User</a></li>
</ul>

<div id='chart_resources'><svg style='height:500px'></svg></div>
<div id="chart_resources_table"></div>
<h1>Job Submission</h1>
<p>The job submission chart shows how many jobs were submitted to the scheduling system at a given time period.  Use
this chart to see when the cluster is being used the most, and by which group.  This chart helps you understand usage
patterns of the cluster, along with the utilization and CPU consumption chart, it can help understand when capacity
is most needed.</p>

<ul id="chart_submission_nav" class="nav nav-tabs">
    <li id="chart_submission_overall" class="active"><a href="#" onClick='set_active_chart("chart_submission", "overall"); return false;'>Overall</a></li>
    <li id="chart_submission_size"><a href="#" onClick='set_active_chart("chart_submission", "size"); return false;'>By Job Size</a></li>
    <li id="chart_submission_cluster"><a href="#" onClick='set_active_chart("chart_submission", "cluster"); return false;'>By Cluster</a></li>
    <li id="chart_submission_project"><a href="#" onClick='set_active_chart("chart_submission", "project"); return false;'>By Project</a></li>
    <li id="chart_submission_queue"><a href="#" onClick='set_active_chart("chart_submission", "queue"); return false;'>By Queue</a></li>
</ul>
<ul class="nav nav-tabs">
  <li id="chart_submission_submit_hour_of_day" class="active"><a onClick='set_active_field("chart_submission", "submit_hour_of_day"); return false;' href="#">By Hour</a></li>
  <li id="chart_submission_submit_day_of_week"><a onClick='set_active_field("chart_submission", "submit_day_of_week"); return false;' href="#">By Day of Week</a></li>
  <li id="chart_submission_submit_day_of_month"><a onClick='set_active_field("chart_submission", "submit_day_of_month"); return false;' href="#">By Day of Month</a></li>
  <li id="chart_submission_submit_week_of_year"><a onClick='set_active_field("chart_submission", "submit_week_of_year"); return false;' href="#">By Week of Year</a></li>
  <li id="chart_submission_submit_month"><a onClick='set_active_field("chart_submission", "submit_month"); return false;' href="#">By Month of Year</a></li>
</ul>

<div id='chart_submission'><svg style='height:500px'></svg></div>
<div id="chart_submission_table"></div>

<h1>CPU Consumption Rate</h1>
    <p>
        This chart shows the CPU Consumption rate grouped accordingly, this is the rate at which CPU hours are being
        consumed.  The table below shows the total amount of CPU hours consumed.  This is similar to an energy meter and
        an energy bill respectively.  The graph shows how much was being used on average over for that period, and the
        table shows how much was being used.  The rates CPU Hours per Hour used for the rate, and CPU Hours for the total.  A
        single cpu hour is the base unit of measurement and donates a CPU core that was occupied by a task for a total
        of one hour.  Example:  A job running on ten CPUs is consuming CPU time at a rate of ten cpu hours per hour, if
        the job runs for half an hour, it will consume 5 CPU Hours of resource.
    </p>
    <p>How does this char differ from utilization? First, the utilization is a snapshot of the cluster state at a given
    moment in time, measuring the exact number of cores in use, and the exact number of cores pending.  This chart shows
    an average value.  The utilization chart shows demand on the cluster, this chart shows average consumption.  A
    subtle but important distinction.</p>
<ul id="chart_cpu_nav" class="nav nav-tabs">
    <li id="chart_cpu_overall" class="active"><a href="#" onClick='set_active_chart("chart_cpu", "overall"); return false;'>Overall</a></li>
    <li id="chart_cpu_size"><a href="#" onClick='set_active_chart("chart_cpu", "size"); return false;'>By Job Size</a></li>
    <li id="chart_cpu_cluster"><a href="#" onClick='set_active_chart("chart_cpu", "cluster"); return false;'>By Cluster</a></li>
    <li id="chart_cpu_project"><a href="#" onClick='set_active_chart("chart_cpu", "project"); return false;'>By Project</a></li>
    <li id="chart_cpu_queue"><a href="#" onClick='set_active_chart("chart_cpu", "queue"); return false;'>By Queue</a></li>
    <li id="chart_cpu_user"><a href="#" onClick='set_active_chart("chart_cpu", "user"); return false;'>By User</a></li>
</ul>
<div id='chart_cpu'><svg style='height:500px'></svg></div>
<div id="chart_cpu_table"></div>
<br /><br /><br /><br /><br />

<style>
.modal-dialog {
  width: 900px;
}
</style>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="filterModalLabel">Modify Filters</h4>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-3">
                        <ul class="nav nav-pills nav-stacked">
                            {% for field in filter_list %}
                                <li id="{{ field.filter_string }}_label">
                                    <a href="#" onClick="update_selected_field('{{ field.filter_string }}'); return false;">
                                      <span>{{ field.display_name }}</span><span id="{{ field.filter_string }}_badge" class="badge pull-right"></span>
                                    </a>
                                </li>
                            {% endfor %}
                         </ul>
                  </div>
                  <div class="col-xs-9">
                      <div id="select_filter_panel" class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Include</h3>
                          </div>

                          <div class="panel-body">
                              <select size="15" id="selected_filters" class="form-control" name="selected_filters" multiple="multiple">
                              </select>
                          </div>
                      </div>
                      <div id="select_exclude_panel" class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Exclude</h3>
                          </div>

                          <div class="panel-body">

                              <select size="15" id="selected_excludes" class="form-control" name="selected_excludes" multiple="multiple">
                              </select>
                          </div>
                      </div>
                      <div id="enter_range_panel" class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Filter <span id="field_name_label"></span> by Range</h3>
                          </div>
                          <div class="panel-body">
                            <form class="form-inline" role="form">

                              <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only" for="filter_action">Email address</label>
                                    <select id="range_filter_operator" class="form-control" name="filter_type">
                                        <option value="lt">Less Than</option>
                                        <option value="lte">Less Than or Equal</option>
                                        <option value="gt">Greater Than</option>
                                        <option value="gte">Greater Than or Equal</option>
                                    </select>
                                </div>
                              </div>
                              <div id="range_filter_input" class="form-group">
                                    <div class="input-group">
                                        <label class="sr-only" for="filter_value">Value</label>
                                        <input type="text" id="range_filter_value" class="form-control" name="filter_type">
                                    </div>
                              </div>
                              <button type="button" onClick="range_filter_add('filter');return false;" class="btn btn-default">Include</button>
                              <button type="button" onClick="range_filter_add('exclude');return false;" class="btn btn-default">Exclude</button>
                            </form>
                          </div>
                          <div id="active_range_filters">

                          </div>
                      </div>
                      <div class="pull-right">
                        <button type="button" onClick="$('#filterModal').modal('hide');return false;" class="btn btn-default">Cancel</button>
                        <button type="button" onClick="filterModalCancelled=false;$('#filterModal').modal('hide');return false;" class="btn btn-primary">Update</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>

<script>

</script>


<script>




</script>
{% endblock %}
