	  <table class="table table-striped table-condensed">
		  <thead>
			  <tr>
				  <th>Host Name</th>
				  <th>Submitted Jobs</th>
				  <th>First Task Executed</th>
				  <th>Last Task Ended</th>
				  <th># Tasks</th>
				  <th># Ended Tasks</th>
				  <th># Failed Tasks</th>
				  <th>Failure Rate</th>
			  </tr>
		</thead>
		<tbody>
  			{% for object in object_list %}
			<tr {% if object.failure_rate > 0.1 %} class="warning"{% endif %}{% if object.failure_rate > 1 %} class="danger"{% endif %}>
				<td>{{ object.name }}</dt>
				<td>{{ object.total_submitted_jobs }}</td>
				<td><a href="{{ object.first_task.get_absolute_url }}">{{ object.first_task.start_time_datetime }}</a></dt>
				<td><a href="{{ object.last_task.get_absolute_url }}">{{ object.last_task.end_time_datetime }}</a></dt>
				<td>{{ object.total_tasks }}</dt>
				<td>{{ object.total_successful_tasks }}</dt>
				<td>{{ object.total_failed_tasks }}</dt>
				<td>{{ object.failure_rate|floatformat:2 }}%</dt>
			</tr>
			{% empty %}
			<tr><td colspan="8">No Hosts.</td></tr>
			{% endfor %}
		</tbody>
	</table>
