<h2>Job Info</h2>
<dl class="dl-horizontal">
	<dt>Job ID</dt><dd><a href='{{ job.get_absolute_url }}'>{{ job.job_id }}</a> (<a href='{{job.cluster.get_absolute_url}}'>{{job.cluster.name}}</a>)</dd>
	<dt>Owner</dt><dd>{{ job.user.userName }} ({{ job.userId }})</dd>
</dl>

<h2>Times</h2>
<dl class="dl-horizontal">
	<dt>Job Submit Time</dt><dd> {{ job.submit_time_datetime }} from: {{ job.submit_host.hostName }}</dd>
	<dt>First element started</dt><dd> {{ job.first_start_time_datetime }}</dd>
	<dt>Last element finished</dt><dd>{{ job.last_finish_time_datetime }}</dd>
	<dt>Total Pend Time</dt><dd>{{ job.pend_timedelta }}</dd>
	<dt>Pend time for first job</dt><dd>{{ job.first_run.pend_timedelta }}</dd>
	<dt>CPU Time consumed</dt><dd>{{ job.cpu_timedelta }}</dd>
	<dt>Wall Time elapsed</dt><dd> {{ job.wall_timedelta }}</dd>
</dl>
