<h2>Job Info</h2>
<dl class="dl-horizontal">
	<dt>Job ID</dt><dd><a href='{{ job.get_absolute_url }}'>{{ job.job_id }}</a> (<a href='{{job.cluster.get_absolute_url}}'>{{job.cluster.name}}</a>)</dd>
	<dt>Owner</dt><dd>{{ job.user.user_name }}</dd>
	<dt>Submitted From</dt><dd>{{ job.submit_host.host_name }}</dd>
	<dt>Job Submit Time</dt><dd> {{ job.submit_time_datetime }} from: {{ job.submit_host.host_name }}</dd>
	<dt><a href='{{ job.first_run.get_absolute_url }}'>First task</a> started</dt><dd> {{ job.first_start_time_datetime }}</dd>
	<dt><a href='{{ job.last_run.get_absolute_url }}'>Last task</a> finished</dt><dd>{{ job.last_finish_time_datetime }}</dd>
	<dt>Total Pend Time</dt><dd>{{ job.pend_timedelta }}</dd>
	<dt>Pend time for <a href='{{ job.first_run.get_absolute_url }}'>first task</a></dt><dd>{{ job.first_run.pend_timedelta }}</dd>
	<dt>CPU Time consumed by entire job</dt><dd>{{ job.cpu_timedelta }}</dd>
	<dt>Wall Time elapsed for entire job</dt><dd> {{ job.wall_timedelta }}</dd>
</dl>
