<dl class="dl-horizontal">
	<dt title="The name of the submitter">User Name</dt><dd> {{ s.job.user.user_name }} ({{ s.user_id }})&nbsp;</dd>
	<dt title="The number of processors requested for execution">Requested Cores</dt><dd> {{ s.num_processors }}&nbsp;</dd>
	<dt title="The job submission time">Submit Time</dt><dd> {{ s.job.submit_time_datetime }}&nbsp;</dd>
	<dt title="The job should be started on or after this time.">Begin Time</dt><dd> {{ s.begin_time_datetimeT }}&nbsp;</dd>
	<dt title="If the job has not finished by this time, it will be killed.">Termination Time</dt><dd> {{ s.term_time_datetime }}&nbsp;</dd>
	<dt title="The signal value sent to the job 10 minutes before its run window closes. ">Signal Value</dt><dd> {{ s.checkpoint_signal_value }}&nbsp;</dd>
	<dt title="The checkpointing period">Checkpointing Period</dt><dd> {{ s.checkpoint_period }}&nbsp;</dd>
	<dt title="The process ID assigned to the job when it was restarted. "></dt><dd> {{ s.restart_process_id }}&nbsp;</dd>
	<dt title="The user's resource limits">User Specified RLimits</dt><dd> {{ s.rLimits }}&nbsp;</dd>
	<dt title="The model, host name or host type for scaling CPULIMIT and RUNLIMIT.">Host Specification</dt><dd> {{ s.host_specification_hostname.host_name }}&nbsp;</dd>
	<dt title="The CPU factor for the above model, host name or host type. ">Host CPU Factor</dt><dd> {{ s.host_factor }}&nbsp;</dd>
	<dt title="The file creation mask for this job.">File Creation Umask</dt><dd> {{ s.umask }}&nbsp;</dd>
	<dt title="The name of the queue to which this job was submitted. ">Queue</dt><dd> {{ s.queue.name }}&nbsp;</dd>
	<dt title="The resource requirements of the job.">Requested Resources</dt><dd> {{ s.requested_resources }}&nbsp;</dd>
	<dt title="The submission host name. ">Submission Host</dt><dd> {{ s.job.submit_host.name }}&nbsp;</dd>
	<dt title="The current working directory. ">Current Working Directory</dt><dd> (CWD) {{ s.cwd }}&nbsp;</dd>
	<dt title="The checkpoint directory. ">Checkpoint Directory</dt><dd> {{ s.checkpoint_dir }}&nbsp;</dd>
	<dt title="The input file name. ">Input File Name</dt><dd> {{ s.input_file }}&nbsp;</dd>
	<dt title="The output file name. ">Output File Name</dt><dd> {{ s.output_file }}&nbsp;</dd>
	<dt title="The error output file name. ">Error File Name</dt><dd> {{ s.error_file }}&nbsp;</dd>
	<dt title="Job spool input file. ">Input Spool File</dt><dd> {{ s.input_file_spool }}&nbsp;</dd>
	<dt title="Job spool command file. ">Command File Spool</dt><dd> {{ s.command_spool }}&nbsp;</dd>
	<dt title="Job spool directory. ">Spool Directory</dt><dd> {{ s.job_spool_dir }}&nbsp;</dd>
	<dt title="The home directory of the submitter. ">Home Directory</dt><dd> {{ s.home_directory }}&nbsp;</dd>
	<dt title="The job file name.">Job File</dt><dd> {{ s.job_file }}&nbsp;</dd>
	<dt title="The job dependency condition. ">Job Dependancies</dt><dd> {{ s.dependency_conditions }}&nbsp;</dd>
	<dt title="The job name. ">Job Name</dt><dd> {{ s.job_name }}&nbsp;</dd>
	<dt title="The job command. ">Command</dt><dd> {{ s.command }}&nbsp;</dd>
	<dt title="The command string to be pre_executed. ">Pre-Execution Command</dt><dd> {{ s.pre_execution_command }}&nbsp;</dd>
	<dt title="User option mail string. ">Mail User</dt><dd> {{ s.email_user }}&nbsp;</dd>
	<dt title="The project name for this job, used for accounting purposes. ">Project</dt><dd> {{ s.project.name }}&nbsp;</dd>
	<dt title="Port to be used for interactive jobs. ">NIOS Port</dt><dd> {{ s.nios_port }}&nbsp;</dd>
	<dt title="Maximum number of processors. ">Max Processors</dt><dd> {{ s.max_num_processors }}&nbsp;</dd>
	<dt title="Execution host type.">Execution Host Type</dt><dd> {{ s.execution_host_type }}&nbsp;</dd>
	<dt title="Login shell specified by user. ">Login Shell</dt><dd> {{ s.login_shell }}&nbsp;</dd>
	<dt title="User priority. ">User priority</dt><dd> {{ s.userPriority }}&nbsp;</dd>
</dl>

