<dl>
	<dt title="The name of the submitter">User Name</dt><dd> {{ s.job.user.userName }}</dd>
	<dt title="The number of processors requested for execution">Requested Cores</dt><dd> {{ s.numProcessors }}</dd>
	<dt title="The job submission time">Submit Time</dt><dd> {{ s.submitTimeDT }}</dd>
	<dt title="The job should be started on or after this time.">Begin Time</dt><dd> {{ s.beginTimeDT }}</dd>
	<dt title="If the job has not finished by this time, it will be killed.">Termination Time</dt><dd> {{ s.termTimeDT }}</dd>
	<dt title="The signal value sent to the job 10 minutes before its run window closes. ">Signal Value</dt><dd> {{ s.sigValue }}</dd>
	<dt title="The checkpointing period">Checkpointing Period</dt><dd> {{ s.chkpntPeriod }}</dd>
	<dt title="The process ID assigned to the job when it was restarted. "></dt><dd> {{ s.restartPid }}</dd>
	<dt title="The user's resource limits">User Specified RLimits</dt><dd> {{ s.rLimits }}</dd>
	<dt title="The model, host name or host type for scaling CPULIMIT and RUNLIMIT.">Host Specification</dt><dd> {{ s.hostSpec }}</dd>
	<dt title="The CPU factor for the above model, host name or host type. ">Host CPU Factor</dt><dd> {{ s.hostFactor }}</dd>
	<dt title="The file creation mask for this job.">File Creation Umask</dt><dd> {{ s.umask }}</dd>
	<dt title="The name of the queue to which this job was submitted. ">Queue</dt><dd> {{ s.queue.name }}</dd>
	<dt title="The resource requirements of the job.">Requested Resources</dt><dd> {{ s.resReq }}</dd>
	<dt title="The submission host name. ">Submission Host</dt><dd> {{ s.submitHost.name }}</dd>
	<dt title="The current working directory. ">Current Working Directory</dt><dd> (CWD) {{ s.cwd }}</dd>
	<dt title="The checkpoint directory. ">Checkpoint Directory</dt><dd> {{ s.chkpntDir }}</dd>
	<dt title="The input file name. ">Input File Name</dt><dd> {{ s.inFile }}</dd>
	<dt title="The output file name. ">Output File Name</dt><dd> {{ s.outFile }}</dd>
	<dt title="The error output file name. ">Error File Name</dt><dd> {{ s.errFile }}</dd>
	<dt title="Job spool input file. ">Input Spool File</dt><dd> {{ s.inFileSpool }}</dd>
	<dt title="Job spool command file. ">Command File Spool</dt><dd> {{ s.commandSpool }}</dd>
	<dt title="Job spool directory. ">Spool Directory</dt><dd> {{ s.jobSpoolDir }}</dd>
	<dt title="The home directory of the submitter. ">Home Directory</dt><dd> {{ s.subHomeDir }}</dd>
	<dt title="The job file name.">Job File</dt><dd> {{ s.jobFile }}</dd>
	<dt title="The job dependency condition. ">Job Dependancies</dt><dd> {{ s.dependCond }}</dd>
	<dt title="Time event string. ">Time Event</dt><dd> {{ s.timeEvent }}</dd>
	<dt title="The job name. ">Job Name</dt><dd> {{ s.jobName }}</dd>
	<dt title="The job command. ">Command</dt><dd> {{ s.command }}</dd>
	<dt title="The command string to be pre_executed. ">Pre-Execution Command</dt><dd> {{ s.preExecCmd }}</dd>
	<dt title="User option mail string. ">Mail User</dt><dd> {{ s.mailUser }}</dd>
	<dt title="The project name for this job, used for accounting purposes. ">Project</dt><dd> {{ s.project.name }}</dd>
	<dt title="Port to be used for interactive jobs. ">NIOS Port</dt><dd> {{ s.niosPort }}</dd>
	<dt title="Maximum number of processors. ">Max Processors</dt><dd> {{ s.maxNumProcessors }}</dd>
	<dt title="Execution host type.">Execution Host Type</dt><dd> {{ s.schedHostType }}</dd>
	<dt title="Login shell specified by user. ">Login Shell</dt><dd> {{ s.loginShell }}</dd>
	<dt title="The user group name for this job. ">User Group Name</dt><dd> {{ s.userGroup }}</dd>
	<dt title="List of alarm conditions for job. ">Exception List</dt><dd> {{ s.exceptList }}</dd>
	<dt title="User priority. ">User priority</dt><dd> {{ s.userPriority }}</dd>
	<dt title="Advance reservation ID. ">Advance reservation {{ s.resvId }}</dd>
	<dt title="The job group under which the job runs. ">Job Group</dt><dd> {{ s.jobGRoup }}</dd>
	<dt title="External scheduling options. ">External scheduling options</dt><dd> {{ s.extsched }}</dd>
	<dt title="Warning time period in seconds, -1 if unspecified. ">Warning Time Period</dt><dd> {{ s.warningTimePeriod }}</dd>
	<dt title="Warning action, SIGNAL | CHKPNT | command, NULL if unspecified. ">Warning Action</dt><dd> {{ s.warningAction }}</dd>
	<dt title="The service class under which the job runs. ">Service Class</dt><dd> {{ s.sla }}</dd>
	<dt title="The absolute run limit of the job. ">SLA Run Limit</dt><dd> {{ s.SLArunLimit }}</dd>
	<dt title="License Project. ">License Project</dt><dd> {{ s.licenseProject }}</dd>
	<dt title="Application profile under which the job runs. ">Application Profile</dt><dd> {{ s.app }}</dd>
	<dt title="Post-execution commands. ">Post-Execution Command</dt><dd> {{ s.postExecCmd }}</dd>
	<dt title="Runtime estimate specified. ">Run Time Estimate</dt><dd> {{ s.runtimeEstimation }}</dd>
	<dt title="Job-level requeue exit values. ">Requeue Exit Values</dt><dd> {{ s.requeueEValues }}</dd>
	<dt title="Initial checkpoint period. ">Checkpointing Period</dt><dd> {{ s.initChkpntPeriod }}</dd>
	<dt title="Job migration threshold. ">Job migration threshold</dt><dd> {{ s.migThreshold }}</dd>
	<dt title="Resize notify command. ">Resize notify command</dt><dd> {{ s.notifyCmd }}</dd>
	<dt title="Job description. ">Job description</dt><dd> {{ s.jobDescription }}</dd>
</dl>

