<table class="table table-striped">
	<thead>
		<tr>
			<th>User</th>
			<th># Jobs</th>
			<th># Elements</th>
			<th># Runs</th>
			<th>Sum Wall Time</th>
			<th>Sum CPU Time</th>
			<th>Sum Pend Time</th>
		</tr>
	</thead>
	<tbody>
		{% for u in users %}
		<tr>
			<td><a href='{{ u.user.get_absolute_url }}'>{{ u.user.userName }}</a></td>
			<td>{{ u.numJobs }}</td>
			<td>{{ u.numElements }}</td>
			<td>{{ u.numRuns }}</td>
			<td title="Average: {{ u.avgWall }}, Min: {{ u.minWall }}, Max: {{ u.maxWall }}">{{ u.sumWall }}</td>
			<td title="Average: {{ u.avgCpu }}, Min: {{ u.minCpu }}, Max: {{ u.maxCpu }}">{{ u.sumCpu }}</td>
			<td title="Average: {{ u.avgPend }}, Min: {{ u.minPend }}, Max: {{ u.maxPend }}">{{ u.sumPend }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
