<table class="table table-striped">
	<thead>
		<tr>
			<th>Action</th>
			<th>User</th>
			<th># Jobs</th>
			<th># Elements</th>
			<th># Runs</th>
			<th>Sum Wall Time</th>
			<th>Sum CPU Time</th>
			<th>Sum Pend Time</th>
		</tr>
	</thead>
	<tbody>
		{% for u in users %}
		<tr>
			<td>	
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Only display jobs owned by user: {{ u.user.userName}}." onClick='addFilter("filter","userName","User Name","{{u.user.userName}}","{{u.user.id}}");return false;'><l class="icon-filter"></l></a>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Do not display jobs owned by user {{ u.user.userName}}" onClick='addFilter("exclude","userName","User Name","{{u.user.userName}}","{{u.user.id}}");return false;' href><l class="icon-minus"></l></a>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Remove all filters and excludes for jobs owned by user {{ u.user.id}}." onclick='removeAllFilters("userName","{{u.user.id}}");return false;'><l class="icon-remove"></l></a>
			</td>
			<td>{{u.user.userName}}</td>	
					
					
			<td>{{ u.numJobs }}</td>
			<td>{{ u.numElements }}</td>
			<td>{{ u.numRuns }}</td>
			<td title="Average: {{ u.avgWall }}, Min: {{ u.minWall }}, Max: {{ u.maxWall }}">{{ u.sumWall }}</td>
			<td title="Average: {{ u.avgCpu }}, Min: {{ u.minCpu }}, Max: {{ u.maxCpu }}">{{ u.sumCpu }}</td>
			<td title="Average: {{ u.avgPend }}, Min: {{ u.minPend }}, Max: {{ u.maxPend }}">{{ u.sumPend }}</td>
		</tr>
		{% empty %}
		<tr><td colspan=8>No Users for this time period.</td></tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	$(function () {
		$("[rel='tooltip']").tooltip();
	});
</script>
	
