<table class="table table-striped">
	<thead>
		<tr>
			<th>Action</th>
			<th>Host</th>
			<th># Runs</th>
			<th>Total CPU Time </th>
		</tr>
	</thead>
	<tbody>
		{% for h in hosts %}
		<tr>
			<td>	
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Only display jobs that executed on {{h.host.hostName}}" onClick='addFilter("filter","executionHost","Execution Host","{{h.host.hostName}}","{{h.host.id}}");return false;'><l class="icon-filter"></l></a>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Do not display jobs that executed on {{h.host.hostName}}" onClick='addFilter("exclude","executionHost","Execution Host","{{h.host.hostName}}","{{h.host.id}}");return false;'><l class="icon-minus"></l></a>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Remove all filters and excludes for jobs that executed on {{h.host.hostName}}." onclick='removeAllFilters("executionHost","{{h.host.id}}");return false;'><l class="icon-remove"></l></a>
			</td>
			<td><a href='{{h.host.get_absolute_url}}'>{{ h.host.hostName }}</a></td>
			<td>{{ h.numRuns }}</td>
			<td>{{ h.sumCpu }} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
 	$(function () {
		$("[rel='tooltip']").tooltip();
	});
</script>
