<table class="table table-striped" id='clusterTable'>
	<thead>
		<tr>
			<th>Action</th>
			<th>Cluster Name</th>
			<th># Jobs</th>
			<th># Elements</th>
			<th># Runs </th>
			<th>Total CPU Time </th>
			<th>Total Wall Time </th>
			<th>Total Pend Time </th>
		</tr>
	</thead>
	<tbody>
		{% for cluster in clusters %}
		<tr>
			<td>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Filter on cluster {{cluster.cluster.name}}" onClick='addFilter("filter","cluster","Cluster","{{cluster.cluster.name}}","{{cluster.cluster.id}}");return false;' href="#"><l class="icon-filter"></l></a>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Exclude {{cluster.cluster.name}} from the results" onClick='addFilter("exclude","cluster","Cluster","{{cluster.cluster.name}}","{{cluster.cluster.id}}");return false;'><l class="icon-minus"></l></a>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Remove all filters and excludes for {{cluster.cluster.name}}." onclick='removeAllFilters("cluster","{{cluster.cluster.id}}");return false;'><l class="icon-remove"></l></a>
			</td>
			<td>{{ cluster.cluster.name }}</td>
			<td>{{ cluster.totalJobs }}</td>
			<td>{{ cluster.totalElements}}</td>
			<td>{{ cluster.totalRuns }}</td>
			<td>{{ cluster.CPUTime }}</td>
			<td>{{ cluster.wallTime }}</td>
			<td>{{ cluster.pendTime }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	$(function () {
		$("[rel='tooltip']").tooltip();
	});
</script>
