<table class="table table-striped">
	<thead>
		<tr>
			<th>Action</th>
			<th>Exit Status</th>
			<th># Runs</th>
			<th>Total CPU Time </th>
			<th>Total Wall Time </th>
			<th>Total Pend Time </th>
		</tr>
	</thead>
	<tbody>
		{% for r in rows %}
		<tr>
			<td>	
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Only display jobs that have an exit status of {{r.exit}}" onClick='addFilter("filter","exitStatus","Exit Status","{{r.exit}}","{{r.exit.id}}");return false;' href="#"><l class="icon-filter"></l></a>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Do not display jobs that have an exit status of {{r.exit}}" onClick='addFilter("exclude","exitStatus","Exit Status","{{r.exit}}","{{r.exit.id}}");return false;' href="#"><l class="icon-minus"></l></a>
				<a href="#" rel="tooltip" data-toggle="tooltip" title="Remove all filters and excludes for exit status {{r.exit}}." onclick='removeAllFilters("exitStatus","{{r.exit.id}}");return false;'><l class="icon-remove"></l></a>
			</td>
			<td>{{r.exit}}</td>
			<td>{{ r.numRuns }}</td>
			<td title="Average: {{ r.avgCpuTime }}, Min: {{ r.minCpuTime }}, Max: {{ r.maxCpuTime }}" >{{ r.sumCpuTime }}</td>
			<td title="Average: {{ r.avgWallTime }}, Min: {{ r.minWallTime }}, Max: {{ r.maxWallTime }}" >{{ r.sumWallTime }}</td>
			<td title="Average: {{ r.avgPendTime }}, Min: {{ r.minPendTime }}, Max: {{ r.maxPendTime }}" >{{ r.sumPendTime }}</td>
		</tr>
		{% empty %}
		<tr><td colspan=6>No jobs for this time period.</td></tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	$(function () {
		$("[rel='tooltip']").tooltip();
	});
</script>
